$/improper:bytype1 @/improper:GAFF/X-X-ca-ha $/atom:BPY[0]/C1 $/atom:BPY[0]/C4 $/atom:BPY[0]/C2 $/atom:BPY[0]/H1
$/improper:bytype2 @/improper:GAFF/X-X-ca-ha $/atom:BPY[0]/C1 $/atom:BPY[0]/C5 $/atom:BPY[0]/C3 $/atom:BPY[0]/H2
$/improper:bytype3 @/improper:GAFF/X-X-ca-ha $/atom:BPY[0]/C6 $/atom:BPY[0]/C9 $/atom:BPY[0]/C7 $/atom:BPY[0]/H5
$/improper:bytype4 @/improper:GAFF/X-X-ca-ha $/atom:BPY[0]/C6 $/atom:BPY[0]/C10 $/atom:BPY[0]/C8 $/atom:BPY[0]/H6
$/improper:bytype5 @/improper:GAFF/X-X-ca-ha $/atom:BPY[1]/C1 $/atom:BPY[1]/C4 $/atom:BPY[1]/C2 $/atom:BPY[1]/H1
$/improper:bytype6 @/improper:GAFF/X-X-ca-ha $/atom:BPY[1]/C1 $/atom:BPY[1]/C5 $/atom:BPY[1]/C3 $/atom:BPY[1]/H2
$/improper:bytype7 @/improper:GAFF/X-X-ca-ha $/atom:BPY[1]/C6 $/atom:BPY[1]/C9 $/atom:BPY[1]/C7 $/atom:BPY[1]/H5
$/improper:bytype8 @/improper:GAFF/X-X-ca-ha $/atom:BPY[1]/C6 $/atom:BPY[1]/C10 $/atom:BPY[1]/C8 $/atom:BPY[1]/H6
$/improper:bytype9 @/improper:GAFF/X-X-ca-ha $/atom:BPY[2]/C1 $/atom:BPY[2]/C4 $/atom:BPY[2]/C2 $/atom:BPY[2]/H1
$/improper:bytype10 @/improper:GAFF/X-X-ca-ha $/atom:BPY[2]/C1 $/atom:BPY[2]/C5 $/atom:BPY[2]/C3 $/atom:BPY[2]/H2
$/improper:bytype11 @/improper:GAFF/X-X-ca-ha $/atom:BPY[2]/C6 $/atom:BPY[2]/C9 $/atom:BPY[2]/C7 $/atom:BPY[2]/H5
$/improper:bytype12 @/improper:GAFF/X-X-ca-ha $/atom:BPY[2]/C6 $/atom:BPY[2]/C10 $/atom:BPY[2]/C8 $/atom:BPY[2]/H6
$/improper:bytype13 @/improper:GAFF/X-X-ca-ha $/atom:BPY[3]/C1 $/atom:BPY[3]/C4 $/atom:BPY[3]/C2 $/atom:BPY[3]/H1
$/improper:bytype14 @/improper:GAFF/X-X-ca-ha $/atom:BPY[3]/C1 $/atom:BPY[3]/C5 $/atom:BPY[3]/C3 $/atom:BPY[3]/H2
$/improper:bytype15 @/improper:GAFF/X-X-ca-ha $/atom:BPY[3]/C6 $/atom:BPY[3]/C9 $/atom:BPY[3]/C7 $/atom:BPY[3]/H5
$/improper:bytype16 @/improper:GAFF/X-X-ca-ha $/atom:BPY[3]/C6 $/atom:BPY[3]/C10 $/atom:BPY[3]/C8 $/atom:BPY[3]/H6
$/improper:bytype17 @/improper:GAFF/X-X-ca-ha $/atom:BPY[4]/C1 $/atom:BPY[4]/C4 $/atom:BPY[4]/C2 $/atom:BPY[4]/H1
$/improper:bytype18 @/improper:GAFF/X-X-ca-ha $/atom:BPY[4]/C1 $/atom:BPY[4]/C5 $/atom:BPY[4]/C3 $/atom:BPY[4]/H2
$/improper:bytype19 @/improper:GAFF/X-X-ca-ha $/atom:BPY[4]/C6 $/atom:BPY[4]/C9 $/atom:BPY[4]/C7 $/atom:BPY[4]/H5
$/improper:bytype20 @/improper:GAFF/X-X-ca-ha $/atom:BPY[4]/C6 $/atom:BPY[4]/C10 $/atom:BPY[4]/C8 $/atom:BPY[4]/H6
$/improper:bytype21 @/improper:GAFF/X-X-ca-ha $/atom:BPY[5]/C1 $/atom:BPY[5]/C4 $/atom:BPY[5]/C2 $/atom:BPY[5]/H1
$/improper:bytype22 @/improper:GAFF/X-X-ca-ha $/atom:BPY[5]/C1 $/atom:BPY[5]/C5 $/atom:BPY[5]/C3 $/atom:BPY[5]/H2
$/improper:bytype23 @/improper:GAFF/X-X-ca-ha $/atom:BPY[5]/C6 $/atom:BPY[5]/C9 $/atom:BPY[5]/C7 $/atom:BPY[5]/H5
$/improper:bytype24 @/improper:GAFF/X-X-ca-ha $/atom:BPY[5]/C6 $/atom:BPY[5]/C10 $/atom:BPY[5]/C8 $/atom:BPY[5]/H6
$/improper:bytype25 @/improper:GAFF/X-X-ca-ha $/atom:BPY[6]/C1 $/atom:BPY[6]/C4 $/atom:BPY[6]/C2 $/atom:BPY[6]/H1
$/improper:bytype26 @/improper:GAFF/X-X-ca-ha $/atom:BPY[6]/C1 $/atom:BPY[6]/C5 $/atom:BPY[6]/C3 $/atom:BPY[6]/H2
$/improper:bytype27 @/improper:GAFF/X-X-ca-ha $/atom:BPY[6]/C6 $/atom:BPY[6]/C9 $/atom:BPY[6]/C7 $/atom:BPY[6]/H5
$/improper:bytype28 @/improper:GAFF/X-X-ca-ha $/atom:BPY[6]/C6 $/atom:BPY[6]/C10 $/atom:BPY[6]/C8 $/atom:BPY[6]/H6
$/improper:bytype29 @/improper:GAFF/X-X-ca-ha $/atom:BPY[7]/C1 $/atom:BPY[7]/C4 $/atom:BPY[7]/C2 $/atom:BPY[7]/H1
$/improper:bytype30 @/improper:GAFF/X-X-ca-ha $/atom:BPY[7]/C1 $/atom:BPY[7]/C5 $/atom:BPY[7]/C3 $/atom:BPY[7]/H2
$/improper:bytype31 @/improper:GAFF/X-X-ca-ha $/atom:BPY[7]/C6 $/atom:BPY[7]/C9 $/atom:BPY[7]/C7 $/atom:BPY[7]/H5
$/improper:bytype32 @/improper:GAFF/X-X-ca-ha $/atom:BPY[7]/C6 $/atom:BPY[7]/C10 $/atom:BPY[7]/C8 $/atom:BPY[7]/H6
$/improper:bytype33 @/improper:GAFF/X-X-ca-ha $/atom:BPY[8]/C1 $/atom:BPY[8]/C4 $/atom:BPY[8]/C2 $/atom:BPY[8]/H1
$/improper:bytype34 @/improper:GAFF/X-X-ca-ha $/atom:BPY[8]/C1 $/atom:BPY[8]/C5 $/atom:BPY[8]/C3 $/atom:BPY[8]/H2
$/improper:bytype35 @/improper:GAFF/X-X-ca-ha $/atom:BPY[8]/C6 $/atom:BPY[8]/C9 $/atom:BPY[8]/C7 $/atom:BPY[8]/H5
$/improper:bytype36 @/improper:GAFF/X-X-ca-ha $/atom:BPY[8]/C6 $/atom:BPY[8]/C10 $/atom:BPY[8]/C8 $/atom:BPY[8]/H6
$/improper:bytype37 @/improper:GAFF/X-X-ca-ha $/atom:BPY[9]/C1 $/atom:BPY[9]/C4 $/atom:BPY[9]/C2 $/atom:BPY[9]/H1
$/improper:bytype38 @/improper:GAFF/X-X-ca-ha $/atom:BPY[9]/C1 $/atom:BPY[9]/C5 $/atom:BPY[9]/C3 $/atom:BPY[9]/H2
$/improper:bytype39 @/improper:GAFF/X-X-ca-ha $/atom:BPY[9]/C6 $/atom:BPY[9]/C9 $/atom:BPY[9]/C7 $/atom:BPY[9]/H5
$/improper:bytype40 @/improper:GAFF/X-X-ca-ha $/atom:BPY[9]/C6 $/atom:BPY[9]/C10 $/atom:BPY[9]/C8 $/atom:BPY[9]/H6
$/improper:bytype41 @/improper:GAFF/X-X-ca-ha $/atom:BPY[10]/C1 $/atom:BPY[10]/C4 $/atom:BPY[10]/C2 $/atom:BPY[10]/H1
$/improper:bytype42 @/improper:GAFF/X-X-ca-ha $/atom:BPY[10]/C1 $/atom:BPY[10]/C5 $/atom:BPY[10]/C3 $/atom:BPY[10]/H2
$/improper:bytype43 @/improper:GAFF/X-X-ca-ha $/atom:BPY[10]/C6 $/atom:BPY[10]/C9 $/atom:BPY[10]/C7 $/atom:BPY[10]/H5
$/improper:bytype44 @/improper:GAFF/X-X-ca-ha $/atom:BPY[10]/C6 $/atom:BPY[10]/C10 $/atom:BPY[10]/C8 $/atom:BPY[10]/H6
$/improper:bytype45 @/improper:GAFF/X-X-ca-ha $/atom:BPY[11]/C1 $/atom:BPY[11]/C4 $/atom:BPY[11]/C2 $/atom:BPY[11]/H1
$/improper:bytype46 @/improper:GAFF/X-X-ca-ha $/atom:BPY[11]/C1 $/atom:BPY[11]/C5 $/atom:BPY[11]/C3 $/atom:BPY[11]/H2
$/improper:bytype47 @/improper:GAFF/X-X-ca-ha $/atom:BPY[11]/C6 $/atom:BPY[11]/C9 $/atom:BPY[11]/C7 $/atom:BPY[11]/H5
$/improper:bytype48 @/improper:GAFF/X-X-ca-ha $/atom:BPY[11]/C6 $/atom:BPY[11]/C10 $/atom:BPY[11]/C8 $/atom:BPY[11]/H6
$/improper:bytype49 @/improper:GAFF/X-X-ca-ha $/atom:BPY[12]/C1 $/atom:BPY[12]/C4 $/atom:BPY[12]/C2 $/atom:BPY[12]/H1
$/improper:bytype50 @/improper:GAFF/X-X-ca-ha $/atom:BPY[12]/C1 $/atom:BPY[12]/C5 $/atom:BPY[12]/C3 $/atom:BPY[12]/H2
$/improper:bytype51 @/improper:GAFF/X-X-ca-ha $/atom:BPY[12]/C6 $/atom:BPY[12]/C9 $/atom:BPY[12]/C7 $/atom:BPY[12]/H5
$/improper:bytype52 @/improper:GAFF/X-X-ca-ha $/atom:BPY[12]/C6 $/atom:BPY[12]/C10 $/atom:BPY[12]/C8 $/atom:BPY[12]/H6
$/improper:bytype53 @/improper:GAFF/X-X-ca-ha $/atom:BPY[13]/C1 $/atom:BPY[13]/C4 $/atom:BPY[13]/C2 $/atom:BPY[13]/H1
$/improper:bytype54 @/improper:GAFF/X-X-ca-ha $/atom:BPY[13]/C1 $/atom:BPY[13]/C5 $/atom:BPY[13]/C3 $/atom:BPY[13]/H2
$/improper:bytype55 @/improper:GAFF/X-X-ca-ha $/atom:BPY[13]/C6 $/atom:BPY[13]/C9 $/atom:BPY[13]/C7 $/atom:BPY[13]/H5
$/improper:bytype56 @/improper:GAFF/X-X-ca-ha $/atom:BPY[13]/C6 $/atom:BPY[13]/C10 $/atom:BPY[13]/C8 $/atom:BPY[13]/H6
$/improper:bytype57 @/improper:GAFF/X-X-ca-ha $/atom:BPY[14]/C1 $/atom:BPY[14]/C4 $/atom:BPY[14]/C2 $/atom:BPY[14]/H1
$/improper:bytype58 @/improper:GAFF/X-X-ca-ha $/atom:BPY[14]/C1 $/atom:BPY[14]/C5 $/atom:BPY[14]/C3 $/atom:BPY[14]/H2
$/improper:bytype59 @/improper:GAFF/X-X-ca-ha $/atom:BPY[14]/C6 $/atom:BPY[14]/C9 $/atom:BPY[14]/C7 $/atom:BPY[14]/H5
$/improper:bytype60 @/improper:GAFF/X-X-ca-ha $/atom:BPY[14]/C6 $/atom:BPY[14]/C10 $/atom:BPY[14]/C8 $/atom:BPY[14]/H6
$/improper:bytype61 @/improper:GAFF/X-X-ca-ha $/atom:BPY[15]/C1 $/atom:BPY[15]/C4 $/atom:BPY[15]/C2 $/atom:BPY[15]/H1
$/improper:bytype62 @/improper:GAFF/X-X-ca-ha $/atom:BPY[15]/C1 $/atom:BPY[15]/C5 $/atom:BPY[15]/C3 $/atom:BPY[15]/H2
$/improper:bytype63 @/improper:GAFF/X-X-ca-ha $/atom:BPY[15]/C6 $/atom:BPY[15]/C9 $/atom:BPY[15]/C7 $/atom:BPY[15]/H5
$/improper:bytype64 @/improper:GAFF/X-X-ca-ha $/atom:BPY[15]/C6 $/atom:BPY[15]/C10 $/atom:BPY[15]/C8 $/atom:BPY[15]/H6
$/improper:bytype65 @/improper:GAFF/X-X-ca-ha $/atom:BPY[16]/C1 $/atom:BPY[16]/C4 $/atom:BPY[16]/C2 $/atom:BPY[16]/H1
$/improper:bytype66 @/improper:GAFF/X-X-ca-ha $/atom:BPY[16]/C1 $/atom:BPY[16]/C5 $/atom:BPY[16]/C3 $/atom:BPY[16]/H2
$/improper:bytype67 @/improper:GAFF/X-X-ca-ha $/atom:BPY[16]/C6 $/atom:BPY[16]/C9 $/atom:BPY[16]/C7 $/atom:BPY[16]/H5
$/improper:bytype68 @/improper:GAFF/X-X-ca-ha $/atom:BPY[16]/C6 $/atom:BPY[16]/C10 $/atom:BPY[16]/C8 $/atom:BPY[16]/H6
$/improper:bytype69 @/improper:GAFF/X-X-ca-ha $/atom:BPY[17]/C1 $/atom:BPY[17]/C4 $/atom:BPY[17]/C2 $/atom:BPY[17]/H1
$/improper:bytype70 @/improper:GAFF/X-X-ca-ha $/atom:BPY[17]/C1 $/atom:BPY[17]/C5 $/atom:BPY[17]/C3 $/atom:BPY[17]/H2
$/improper:bytype71 @/improper:GAFF/X-X-ca-ha $/atom:BPY[17]/C6 $/atom:BPY[17]/C9 $/atom:BPY[17]/C7 $/atom:BPY[17]/H5
$/improper:bytype72 @/improper:GAFF/X-X-ca-ha $/atom:BPY[17]/C6 $/atom:BPY[17]/C10 $/atom:BPY[17]/C8 $/atom:BPY[17]/H6
$/improper:bytype73 @/improper:GAFF/X-X-ca-ha $/atom:BPY[18]/C1 $/atom:BPY[18]/C4 $/atom:BPY[18]/C2 $/atom:BPY[18]/H1
$/improper:bytype74 @/improper:GAFF/X-X-ca-ha $/atom:BPY[18]/C1 $/atom:BPY[18]/C5 $/atom:BPY[18]/C3 $/atom:BPY[18]/H2
$/improper:bytype75 @/improper:GAFF/X-X-ca-ha $/atom:BPY[18]/C6 $/atom:BPY[18]/C9 $/atom:BPY[18]/C7 $/atom:BPY[18]/H5
$/improper:bytype76 @/improper:GAFF/X-X-ca-ha $/atom:BPY[18]/C6 $/atom:BPY[18]/C10 $/atom:BPY[18]/C8 $/atom:BPY[18]/H6
$/improper:bytype77 @/improper:GAFF/X-X-ca-ha $/atom:BPY[19]/C1 $/atom:BPY[19]/C4 $/atom:BPY[19]/C2 $/atom:BPY[19]/H1
$/improper:bytype78 @/improper:GAFF/X-X-ca-ha $/atom:BPY[19]/C1 $/atom:BPY[19]/C5 $/atom:BPY[19]/C3 $/atom:BPY[19]/H2
$/improper:bytype79 @/improper:GAFF/X-X-ca-ha $/atom:BPY[19]/C6 $/atom:BPY[19]/C9 $/atom:BPY[19]/C7 $/atom:BPY[19]/H5
$/improper:bytype80 @/improper:GAFF/X-X-ca-ha $/atom:BPY[19]/C6 $/atom:BPY[19]/C10 $/atom:BPY[19]/C8 $/atom:BPY[19]/H6
$/improper:bytype81 @/improper:GAFF/X-X-ca-ha $/atom:BPY[20]/C1 $/atom:BPY[20]/C4 $/atom:BPY[20]/C2 $/atom:BPY[20]/H1
$/improper:bytype82 @/improper:GAFF/X-X-ca-ha $/atom:BPY[20]/C1 $/atom:BPY[20]/C5 $/atom:BPY[20]/C3 $/atom:BPY[20]/H2
$/improper:bytype83 @/improper:GAFF/X-X-ca-ha $/atom:BPY[20]/C6 $/atom:BPY[20]/C9 $/atom:BPY[20]/C7 $/atom:BPY[20]/H5
$/improper:bytype84 @/improper:GAFF/X-X-ca-ha $/atom:BPY[20]/C6 $/atom:BPY[20]/C10 $/atom:BPY[20]/C8 $/atom:BPY[20]/H6
$/improper:bytype85 @/improper:GAFF/X-X-ca-ha $/atom:BPY[21]/C1 $/atom:BPY[21]/C4 $/atom:BPY[21]/C2 $/atom:BPY[21]/H1
$/improper:bytype86 @/improper:GAFF/X-X-ca-ha $/atom:BPY[21]/C1 $/atom:BPY[21]/C5 $/atom:BPY[21]/C3 $/atom:BPY[21]/H2
$/improper:bytype87 @/improper:GAFF/X-X-ca-ha $/atom:BPY[21]/C6 $/atom:BPY[21]/C9 $/atom:BPY[21]/C7 $/atom:BPY[21]/H5
$/improper:bytype88 @/improper:GAFF/X-X-ca-ha $/atom:BPY[21]/C6 $/atom:BPY[21]/C10 $/atom:BPY[21]/C8 $/atom:BPY[21]/H6
$/improper:bytype89 @/improper:GAFF/X-X-ca-ha $/atom:BPY[22]/C1 $/atom:BPY[22]/C4 $/atom:BPY[22]/C2 $/atom:BPY[22]/H1
$/improper:bytype90 @/improper:GAFF/X-X-ca-ha $/atom:BPY[22]/C1 $/atom:BPY[22]/C5 $/atom:BPY[22]/C3 $/atom:BPY[22]/H2
$/improper:bytype91 @/improper:GAFF/X-X-ca-ha $/atom:BPY[22]/C6 $/atom:BPY[22]/C9 $/atom:BPY[22]/C7 $/atom:BPY[22]/H5
$/improper:bytype92 @/improper:GAFF/X-X-ca-ha $/atom:BPY[22]/C6 $/atom:BPY[22]/C10 $/atom:BPY[22]/C8 $/atom:BPY[22]/H6
$/improper:bytype93 @/improper:GAFF/X-X-ca-ha $/atom:BPY[23]/C1 $/atom:BPY[23]/C4 $/atom:BPY[23]/C2 $/atom:BPY[23]/H1
$/improper:bytype94 @/improper:GAFF/X-X-ca-ha $/atom:BPY[23]/C1 $/atom:BPY[23]/C5 $/atom:BPY[23]/C3 $/atom:BPY[23]/H2
$/improper:bytype95 @/improper:GAFF/X-X-ca-ha $/atom:BPY[23]/C6 $/atom:BPY[23]/C9 $/atom:BPY[23]/C7 $/atom:BPY[23]/H5
$/improper:bytype96 @/improper:GAFF/X-X-ca-ha $/atom:BPY[23]/C6 $/atom:BPY[23]/C10 $/atom:BPY[23]/C8 $/atom:BPY[23]/H6
$/improper:bytype97 @/improper:GAFF/X-X-ca-ha $/atom:BPY[24]/C1 $/atom:BPY[24]/C4 $/atom:BPY[24]/C2 $/atom:BPY[24]/H1
$/improper:bytype98 @/improper:GAFF/X-X-ca-ha $/atom:BPY[24]/C1 $/atom:BPY[24]/C5 $/atom:BPY[24]/C3 $/atom:BPY[24]/H2
$/improper:bytype99 @/improper:GAFF/X-X-ca-ha $/atom:BPY[24]/C6 $/atom:BPY[24]/C9 $/atom:BPY[24]/C7 $/atom:BPY[24]/H5
$/improper:bytype100 @/improper:GAFF/X-X-ca-ha $/atom:BPY[24]/C6 $/atom:BPY[24]/C10 $/atom:BPY[24]/C8 $/atom:BPY[24]/H6
$/improper:bytype101 @/improper:GAFF/X-X-ca-ha $/atom:BPY[25]/C1 $/atom:BPY[25]/C4 $/atom:BPY[25]/C2 $/atom:BPY[25]/H1
$/improper:bytype102 @/improper:GAFF/X-X-ca-ha $/atom:BPY[25]/C1 $/atom:BPY[25]/C5 $/atom:BPY[25]/C3 $/atom:BPY[25]/H2
$/improper:bytype103 @/improper:GAFF/X-X-ca-ha $/atom:BPY[25]/C6 $/atom:BPY[25]/C9 $/atom:BPY[25]/C7 $/atom:BPY[25]/H5
$/improper:bytype104 @/improper:GAFF/X-X-ca-ha $/atom:BPY[25]/C6 $/atom:BPY[25]/C10 $/atom:BPY[25]/C8 $/atom:BPY[25]/H6
$/improper:bytype105 @/improper:GAFF/X-X-ca-ha $/atom:BPY[26]/C1 $/atom:BPY[26]/C4 $/atom:BPY[26]/C2 $/atom:BPY[26]/H1
$/improper:bytype106 @/improper:GAFF/X-X-ca-ha $/atom:BPY[26]/C1 $/atom:BPY[26]/C5 $/atom:BPY[26]/C3 $/atom:BPY[26]/H2
$/improper:bytype107 @/improper:GAFF/X-X-ca-ha $/atom:BPY[26]/C6 $/atom:BPY[26]/C9 $/atom:BPY[26]/C7 $/atom:BPY[26]/H5
$/improper:bytype108 @/improper:GAFF/X-X-ca-ha $/atom:BPY[26]/C6 $/atom:BPY[26]/C10 $/atom:BPY[26]/C8 $/atom:BPY[26]/H6
$/improper:bytype109 @/improper:GAFF/X-X-ca-ha $/atom:BPY[27]/C1 $/atom:BPY[27]/C4 $/atom:BPY[27]/C2 $/atom:BPY[27]/H1
$/improper:bytype110 @/improper:GAFF/X-X-ca-ha $/atom:BPY[27]/C1 $/atom:BPY[27]/C5 $/atom:BPY[27]/C3 $/atom:BPY[27]/H2
$/improper:bytype111 @/improper:GAFF/X-X-ca-ha $/atom:BPY[27]/C6 $/atom:BPY[27]/C9 $/atom:BPY[27]/C7 $/atom:BPY[27]/H5
$/improper:bytype112 @/improper:GAFF/X-X-ca-ha $/atom:BPY[27]/C6 $/atom:BPY[27]/C10 $/atom:BPY[27]/C8 $/atom:BPY[27]/H6
$/improper:bytype113 @/improper:GAFF/X-X-ca-ha $/atom:BPY[28]/C1 $/atom:BPY[28]/C4 $/atom:BPY[28]/C2 $/atom:BPY[28]/H1
$/improper:bytype114 @/improper:GAFF/X-X-ca-ha $/atom:BPY[28]/C1 $/atom:BPY[28]/C5 $/atom:BPY[28]/C3 $/atom:BPY[28]/H2
$/improper:bytype115 @/improper:GAFF/X-X-ca-ha $/atom:BPY[28]/C6 $/atom:BPY[28]/C9 $/atom:BPY[28]/C7 $/atom:BPY[28]/H5
$/improper:bytype116 @/improper:GAFF/X-X-ca-ha $/atom:BPY[28]/C6 $/atom:BPY[28]/C10 $/atom:BPY[28]/C8 $/atom:BPY[28]/H6
$/improper:bytype117 @/improper:GAFF/X-X-ca-ha $/atom:BPY[29]/C1 $/atom:BPY[29]/C4 $/atom:BPY[29]/C2 $/atom:BPY[29]/H1
$/improper:bytype118 @/improper:GAFF/X-X-ca-ha $/atom:BPY[29]/C1 $/atom:BPY[29]/C5 $/atom:BPY[29]/C3 $/atom:BPY[29]/H2
$/improper:bytype119 @/improper:GAFF/X-X-ca-ha $/atom:BPY[29]/C6 $/atom:BPY[29]/C9 $/atom:BPY[29]/C7 $/atom:BPY[29]/H5
$/improper:bytype120 @/improper:GAFF/X-X-ca-ha $/atom:BPY[29]/C6 $/atom:BPY[29]/C10 $/atom:BPY[29]/C8 $/atom:BPY[29]/H6
$/improper:bytype121 @/improper:GAFF/X-X-ca-ha $/atom:BPY[30]/C1 $/atom:BPY[30]/C4 $/atom:BPY[30]/C2 $/atom:BPY[30]/H1
$/improper:bytype122 @/improper:GAFF/X-X-ca-ha $/atom:BPY[30]/C1 $/atom:BPY[30]/C5 $/atom:BPY[30]/C3 $/atom:BPY[30]/H2
$/improper:bytype123 @/improper:GAFF/X-X-ca-ha $/atom:BPY[30]/C6 $/atom:BPY[30]/C9 $/atom:BPY[30]/C7 $/atom:BPY[30]/H5
$/improper:bytype124 @/improper:GAFF/X-X-ca-ha $/atom:BPY[30]/C6 $/atom:BPY[30]/C10 $/atom:BPY[30]/C8 $/atom:BPY[30]/H6
$/improper:bytype125 @/improper:GAFF/X-X-ca-ha $/atom:BPY[31]/C1 $/atom:BPY[31]/C4 $/atom:BPY[31]/C2 $/atom:BPY[31]/H1
$/improper:bytype126 @/improper:GAFF/X-X-ca-ha $/atom:BPY[31]/C1 $/atom:BPY[31]/C5 $/atom:BPY[31]/C3 $/atom:BPY[31]/H2
$/improper:bytype127 @/improper:GAFF/X-X-ca-ha $/atom:BPY[31]/C6 $/atom:BPY[31]/C9 $/atom:BPY[31]/C7 $/atom:BPY[31]/H5
$/improper:bytype128 @/improper:GAFF/X-X-ca-ha $/atom:BPY[31]/C6 $/atom:BPY[31]/C10 $/atom:BPY[31]/C8 $/atom:BPY[31]/H6
$/improper:bytype129 @/improper:GAFF/X-X-ca-ha $/atom:BPY[32]/C1 $/atom:BPY[32]/C4 $/atom:BPY[32]/C2 $/atom:BPY[32]/H1
$/improper:bytype130 @/improper:GAFF/X-X-ca-ha $/atom:BPY[32]/C1 $/atom:BPY[32]/C5 $/atom:BPY[32]/C3 $/atom:BPY[32]/H2
$/improper:bytype131 @/improper:GAFF/X-X-ca-ha $/atom:BPY[32]/C6 $/atom:BPY[32]/C9 $/atom:BPY[32]/C7 $/atom:BPY[32]/H5
$/improper:bytype132 @/improper:GAFF/X-X-ca-ha $/atom:BPY[32]/C6 $/atom:BPY[32]/C10 $/atom:BPY[32]/C8 $/atom:BPY[32]/H6
$/improper:bytype133 @/improper:GAFF/X-X-ca-ha $/atom:BPY[33]/C1 $/atom:BPY[33]/C4 $/atom:BPY[33]/C2 $/atom:BPY[33]/H1
$/improper:bytype134 @/improper:GAFF/X-X-ca-ha $/atom:BPY[33]/C1 $/atom:BPY[33]/C5 $/atom:BPY[33]/C3 $/atom:BPY[33]/H2
$/improper:bytype135 @/improper:GAFF/X-X-ca-ha $/atom:BPY[33]/C6 $/atom:BPY[33]/C9 $/atom:BPY[33]/C7 $/atom:BPY[33]/H5
$/improper:bytype136 @/improper:GAFF/X-X-ca-ha $/atom:BPY[33]/C6 $/atom:BPY[33]/C10 $/atom:BPY[33]/C8 $/atom:BPY[33]/H6
$/improper:bytype137 @/improper:GAFF/X-X-ca-ha $/atom:BPY[34]/C1 $/atom:BPY[34]/C4 $/atom:BPY[34]/C2 $/atom:BPY[34]/H1
$/improper:bytype138 @/improper:GAFF/X-X-ca-ha $/atom:BPY[34]/C1 $/atom:BPY[34]/C5 $/atom:BPY[34]/C3 $/atom:BPY[34]/H2
$/improper:bytype139 @/improper:GAFF/X-X-ca-ha $/atom:BPY[34]/C6 $/atom:BPY[34]/C9 $/atom:BPY[34]/C7 $/atom:BPY[34]/H5
$/improper:bytype140 @/improper:GAFF/X-X-ca-ha $/atom:BPY[34]/C6 $/atom:BPY[34]/C10 $/atom:BPY[34]/C8 $/atom:BPY[34]/H6
$/improper:bytype141 @/improper:GAFF/X-X-ca-ha $/atom:BPY[35]/C1 $/atom:BPY[35]/C4 $/atom:BPY[35]/C2 $/atom:BPY[35]/H1
$/improper:bytype142 @/improper:GAFF/X-X-ca-ha $/atom:BPY[35]/C1 $/atom:BPY[35]/C5 $/atom:BPY[35]/C3 $/atom:BPY[35]/H2
$/improper:bytype143 @/improper:GAFF/X-X-ca-ha $/atom:BPY[35]/C6 $/atom:BPY[35]/C9 $/atom:BPY[35]/C7 $/atom:BPY[35]/H5
$/improper:bytype144 @/improper:GAFF/X-X-ca-ha $/atom:BPY[35]/C6 $/atom:BPY[35]/C10 $/atom:BPY[35]/C8 $/atom:BPY[35]/H6
$/improper:bytype145 @/improper:GAFF/X-X-ca-ha $/atom:BPY[36]/C1 $/atom:BPY[36]/C4 $/atom:BPY[36]/C2 $/atom:BPY[36]/H1
$/improper:bytype146 @/improper:GAFF/X-X-ca-ha $/atom:BPY[36]/C1 $/atom:BPY[36]/C5 $/atom:BPY[36]/C3 $/atom:BPY[36]/H2
$/improper:bytype147 @/improper:GAFF/X-X-ca-ha $/atom:BPY[36]/C6 $/atom:BPY[36]/C9 $/atom:BPY[36]/C7 $/atom:BPY[36]/H5
$/improper:bytype148 @/improper:GAFF/X-X-ca-ha $/atom:BPY[36]/C6 $/atom:BPY[36]/C10 $/atom:BPY[36]/C8 $/atom:BPY[36]/H6
$/improper:bytype149 @/improper:GAFF/X-X-ca-ha $/atom:BPY[37]/C1 $/atom:BPY[37]/C4 $/atom:BPY[37]/C2 $/atom:BPY[37]/H1
$/improper:bytype150 @/improper:GAFF/X-X-ca-ha $/atom:BPY[37]/C1 $/atom:BPY[37]/C5 $/atom:BPY[37]/C3 $/atom:BPY[37]/H2
$/improper:bytype151 @/improper:GAFF/X-X-ca-ha $/atom:BPY[37]/C6 $/atom:BPY[37]/C9 $/atom:BPY[37]/C7 $/atom:BPY[37]/H5
$/improper:bytype152 @/improper:GAFF/X-X-ca-ha $/atom:BPY[37]/C6 $/atom:BPY[37]/C10 $/atom:BPY[37]/C8 $/atom:BPY[37]/H6
$/improper:bytype153 @/improper:GAFF/X-X-ca-ha $/atom:BPY[38]/C1 $/atom:BPY[38]/C4 $/atom:BPY[38]/C2 $/atom:BPY[38]/H1
$/improper:bytype154 @/improper:GAFF/X-X-ca-ha $/atom:BPY[38]/C1 $/atom:BPY[38]/C5 $/atom:BPY[38]/C3 $/atom:BPY[38]/H2
$/improper:bytype155 @/improper:GAFF/X-X-ca-ha $/atom:BPY[38]/C6 $/atom:BPY[38]/C9 $/atom:BPY[38]/C7 $/atom:BPY[38]/H5
$/improper:bytype156 @/improper:GAFF/X-X-ca-ha $/atom:BPY[38]/C6 $/atom:BPY[38]/C10 $/atom:BPY[38]/C8 $/atom:BPY[38]/H6
$/improper:bytype157 @/improper:GAFF/X-X-ca-ha $/atom:BPY[39]/C1 $/atom:BPY[39]/C4 $/atom:BPY[39]/C2 $/atom:BPY[39]/H1
$/improper:bytype158 @/improper:GAFF/X-X-ca-ha $/atom:BPY[39]/C1 $/atom:BPY[39]/C5 $/atom:BPY[39]/C3 $/atom:BPY[39]/H2
$/improper:bytype159 @/improper:GAFF/X-X-ca-ha $/atom:BPY[39]/C6 $/atom:BPY[39]/C9 $/atom:BPY[39]/C7 $/atom:BPY[39]/H5
$/improper:bytype160 @/improper:GAFF/X-X-ca-ha $/atom:BPY[39]/C6 $/atom:BPY[39]/C10 $/atom:BPY[39]/C8 $/atom:BPY[39]/H6
$/improper:bytype161 @/improper:GAFF/X-X-ca-ha $/atom:BPY[40]/C1 $/atom:BPY[40]/C4 $/atom:BPY[40]/C2 $/atom:BPY[40]/H1
$/improper:bytype162 @/improper:GAFF/X-X-ca-ha $/atom:BPY[40]/C1 $/atom:BPY[40]/C5 $/atom:BPY[40]/C3 $/atom:BPY[40]/H2
$/improper:bytype163 @/improper:GAFF/X-X-ca-ha $/atom:BPY[40]/C6 $/atom:BPY[40]/C9 $/atom:BPY[40]/C7 $/atom:BPY[40]/H5
$/improper:bytype164 @/improper:GAFF/X-X-ca-ha $/atom:BPY[40]/C6 $/atom:BPY[40]/C10 $/atom:BPY[40]/C8 $/atom:BPY[40]/H6
$/improper:bytype165 @/improper:GAFF/X-X-ca-ha $/atom:BPY[41]/C1 $/atom:BPY[41]/C4 $/atom:BPY[41]/C2 $/atom:BPY[41]/H1
$/improper:bytype166 @/improper:GAFF/X-X-ca-ha $/atom:BPY[41]/C1 $/atom:BPY[41]/C5 $/atom:BPY[41]/C3 $/atom:BPY[41]/H2
$/improper:bytype167 @/improper:GAFF/X-X-ca-ha $/atom:BPY[41]/C6 $/atom:BPY[41]/C9 $/atom:BPY[41]/C7 $/atom:BPY[41]/H5
$/improper:bytype168 @/improper:GAFF/X-X-ca-ha $/atom:BPY[41]/C6 $/atom:BPY[41]/C10 $/atom:BPY[41]/C8 $/atom:BPY[41]/H6
$/improper:bytype169 @/improper:GAFF/X-X-ca-ha $/atom:BPY[42]/C1 $/atom:BPY[42]/C4 $/atom:BPY[42]/C2 $/atom:BPY[42]/H1
$/improper:bytype170 @/improper:GAFF/X-X-ca-ha $/atom:BPY[42]/C1 $/atom:BPY[42]/C5 $/atom:BPY[42]/C3 $/atom:BPY[42]/H2
$/improper:bytype171 @/improper:GAFF/X-X-ca-ha $/atom:BPY[42]/C6 $/atom:BPY[42]/C9 $/atom:BPY[42]/C7 $/atom:BPY[42]/H5
$/improper:bytype172 @/improper:GAFF/X-X-ca-ha $/atom:BPY[42]/C6 $/atom:BPY[42]/C10 $/atom:BPY[42]/C8 $/atom:BPY[42]/H6
$/improper:bytype173 @/improper:GAFF/X-X-ca-ha $/atom:BPY[43]/C1 $/atom:BPY[43]/C4 $/atom:BPY[43]/C2 $/atom:BPY[43]/H1
$/improper:bytype174 @/improper:GAFF/X-X-ca-ha $/atom:BPY[43]/C1 $/atom:BPY[43]/C5 $/atom:BPY[43]/C3 $/atom:BPY[43]/H2
$/improper:bytype175 @/improper:GAFF/X-X-ca-ha $/atom:BPY[43]/C6 $/atom:BPY[43]/C9 $/atom:BPY[43]/C7 $/atom:BPY[43]/H5
$/improper:bytype176 @/improper:GAFF/X-X-ca-ha $/atom:BPY[43]/C6 $/atom:BPY[43]/C10 $/atom:BPY[43]/C8 $/atom:BPY[43]/H6
$/improper:bytype177 @/improper:GAFF/X-X-ca-ha $/atom:BPY[44]/C1 $/atom:BPY[44]/C4 $/atom:BPY[44]/C2 $/atom:BPY[44]/H1
$/improper:bytype178 @/improper:GAFF/X-X-ca-ha $/atom:BPY[44]/C1 $/atom:BPY[44]/C5 $/atom:BPY[44]/C3 $/atom:BPY[44]/H2
$/improper:bytype179 @/improper:GAFF/X-X-ca-ha $/atom:BPY[44]/C6 $/atom:BPY[44]/C9 $/atom:BPY[44]/C7 $/atom:BPY[44]/H5
$/improper:bytype180 @/improper:GAFF/X-X-ca-ha $/atom:BPY[44]/C6 $/atom:BPY[44]/C10 $/atom:BPY[44]/C8 $/atom:BPY[44]/H6
$/improper:bytype181 @/improper:GAFF/X-X-ca-ha $/atom:BPY[45]/C1 $/atom:BPY[45]/C4 $/atom:BPY[45]/C2 $/atom:BPY[45]/H1
$/improper:bytype182 @/improper:GAFF/X-X-ca-ha $/atom:BPY[45]/C1 $/atom:BPY[45]/C5 $/atom:BPY[45]/C3 $/atom:BPY[45]/H2
$/improper:bytype183 @/improper:GAFF/X-X-ca-ha $/atom:BPY[45]/C6 $/atom:BPY[45]/C9 $/atom:BPY[45]/C7 $/atom:BPY[45]/H5
$/improper:bytype184 @/improper:GAFF/X-X-ca-ha $/atom:BPY[45]/C6 $/atom:BPY[45]/C10 $/atom:BPY[45]/C8 $/atom:BPY[45]/H6
$/improper:bytype185 @/improper:GAFF/X-X-ca-ha $/atom:BPY[46]/C1 $/atom:BPY[46]/C4 $/atom:BPY[46]/C2 $/atom:BPY[46]/H1
$/improper:bytype186 @/improper:GAFF/X-X-ca-ha $/atom:BPY[46]/C1 $/atom:BPY[46]/C5 $/atom:BPY[46]/C3 $/atom:BPY[46]/H2
$/improper:bytype187 @/improper:GAFF/X-X-ca-ha $/atom:BPY[46]/C6 $/atom:BPY[46]/C9 $/atom:BPY[46]/C7 $/atom:BPY[46]/H5
$/improper:bytype188 @/improper:GAFF/X-X-ca-ha $/atom:BPY[46]/C6 $/atom:BPY[46]/C10 $/atom:BPY[46]/C8 $/atom:BPY[46]/H6
$/improper:bytype189 @/improper:GAFF/X-X-ca-ha $/atom:BPY[47]/C1 $/atom:BPY[47]/C4 $/atom:BPY[47]/C2 $/atom:BPY[47]/H1
$/improper:bytype190 @/improper:GAFF/X-X-ca-ha $/atom:BPY[47]/C1 $/atom:BPY[47]/C5 $/atom:BPY[47]/C3 $/atom:BPY[47]/H2
$/improper:bytype191 @/improper:GAFF/X-X-ca-ha $/atom:BPY[47]/C6 $/atom:BPY[47]/C9 $/atom:BPY[47]/C7 $/atom:BPY[47]/H5
$/improper:bytype192 @/improper:GAFF/X-X-ca-ha $/atom:BPY[47]/C6 $/atom:BPY[47]/C10 $/atom:BPY[47]/C8 $/atom:BPY[47]/H6
$/improper:bytype193 @/improper:GAFF/X-X-ca-ha $/atom:BPY[48]/C1 $/atom:BPY[48]/C4 $/atom:BPY[48]/C2 $/atom:BPY[48]/H1
$/improper:bytype194 @/improper:GAFF/X-X-ca-ha $/atom:BPY[48]/C1 $/atom:BPY[48]/C5 $/atom:BPY[48]/C3 $/atom:BPY[48]/H2
$/improper:bytype195 @/improper:GAFF/X-X-ca-ha $/atom:BPY[48]/C6 $/atom:BPY[48]/C9 $/atom:BPY[48]/C7 $/atom:BPY[48]/H5
$/improper:bytype196 @/improper:GAFF/X-X-ca-ha $/atom:BPY[48]/C6 $/atom:BPY[48]/C10 $/atom:BPY[48]/C8 $/atom:BPY[48]/H6
$/improper:bytype197 @/improper:GAFF/X-X-ca-ha $/atom:BPY[49]/C1 $/atom:BPY[49]/C4 $/atom:BPY[49]/C2 $/atom:BPY[49]/H1
$/improper:bytype198 @/improper:GAFF/X-X-ca-ha $/atom:BPY[49]/C1 $/atom:BPY[49]/C5 $/atom:BPY[49]/C3 $/atom:BPY[49]/H2
$/improper:bytype199 @/improper:GAFF/X-X-ca-ha $/atom:BPY[49]/C6 $/atom:BPY[49]/C9 $/atom:BPY[49]/C7 $/atom:BPY[49]/H5
$/improper:bytype200 @/improper:GAFF/X-X-ca-ha $/atom:BPY[49]/C6 $/atom:BPY[49]/C10 $/atom:BPY[49]/C8 $/atom:BPY[49]/H6
$/improper:bytype201 @/improper:GAFF/X-X-ca-ha $/atom:BPY[50]/C1 $/atom:BPY[50]/C4 $/atom:BPY[50]/C2 $/atom:BPY[50]/H1
$/improper:bytype202 @/improper:GAFF/X-X-ca-ha $/atom:BPY[50]/C1 $/atom:BPY[50]/C5 $/atom:BPY[50]/C3 $/atom:BPY[50]/H2
$/improper:bytype203 @/improper:GAFF/X-X-ca-ha $/atom:BPY[50]/C6 $/atom:BPY[50]/C9 $/atom:BPY[50]/C7 $/atom:BPY[50]/H5
$/improper:bytype204 @/improper:GAFF/X-X-ca-ha $/atom:BPY[50]/C6 $/atom:BPY[50]/C10 $/atom:BPY[50]/C8 $/atom:BPY[50]/H6
$/improper:bytype205 @/improper:GAFF/X-X-ca-ha $/atom:BPY[51]/C1 $/atom:BPY[51]/C4 $/atom:BPY[51]/C2 $/atom:BPY[51]/H1
$/improper:bytype206 @/improper:GAFF/X-X-ca-ha $/atom:BPY[51]/C1 $/atom:BPY[51]/C5 $/atom:BPY[51]/C3 $/atom:BPY[51]/H2
$/improper:bytype207 @/improper:GAFF/X-X-ca-ha $/atom:BPY[51]/C6 $/atom:BPY[51]/C9 $/atom:BPY[51]/C7 $/atom:BPY[51]/H5
$/improper:bytype208 @/improper:GAFF/X-X-ca-ha $/atom:BPY[51]/C6 $/atom:BPY[51]/C10 $/atom:BPY[51]/C8 $/atom:BPY[51]/H6
$/improper:bytype209 @/improper:GAFF/X-X-ca-ha $/atom:BPY[52]/C1 $/atom:BPY[52]/C4 $/atom:BPY[52]/C2 $/atom:BPY[52]/H1
$/improper:bytype210 @/improper:GAFF/X-X-ca-ha $/atom:BPY[52]/C1 $/atom:BPY[52]/C5 $/atom:BPY[52]/C3 $/atom:BPY[52]/H2
$/improper:bytype211 @/improper:GAFF/X-X-ca-ha $/atom:BPY[52]/C6 $/atom:BPY[52]/C9 $/atom:BPY[52]/C7 $/atom:BPY[52]/H5
$/improper:bytype212 @/improper:GAFF/X-X-ca-ha $/atom:BPY[52]/C6 $/atom:BPY[52]/C10 $/atom:BPY[52]/C8 $/atom:BPY[52]/H6
$/improper:bytype213 @/improper:GAFF/X-X-ca-ha $/atom:BPY[53]/C1 $/atom:BPY[53]/C4 $/atom:BPY[53]/C2 $/atom:BPY[53]/H1
$/improper:bytype214 @/improper:GAFF/X-X-ca-ha $/atom:BPY[53]/C1 $/atom:BPY[53]/C5 $/atom:BPY[53]/C3 $/atom:BPY[53]/H2
$/improper:bytype215 @/improper:GAFF/X-X-ca-ha $/atom:BPY[53]/C6 $/atom:BPY[53]/C9 $/atom:BPY[53]/C7 $/atom:BPY[53]/H5
$/improper:bytype216 @/improper:GAFF/X-X-ca-ha $/atom:BPY[53]/C6 $/atom:BPY[53]/C10 $/atom:BPY[53]/C8 $/atom:BPY[53]/H6
$/improper:bytype217 @/improper:GAFF/X-X-ca-ha $/atom:BPY[54]/C1 $/atom:BPY[54]/C4 $/atom:BPY[54]/C2 $/atom:BPY[54]/H1
$/improper:bytype218 @/improper:GAFF/X-X-ca-ha $/atom:BPY[54]/C1 $/atom:BPY[54]/C5 $/atom:BPY[54]/C3 $/atom:BPY[54]/H2
$/improper:bytype219 @/improper:GAFF/X-X-ca-ha $/atom:BPY[54]/C6 $/atom:BPY[54]/C9 $/atom:BPY[54]/C7 $/atom:BPY[54]/H5
$/improper:bytype220 @/improper:GAFF/X-X-ca-ha $/atom:BPY[54]/C6 $/atom:BPY[54]/C10 $/atom:BPY[54]/C8 $/atom:BPY[54]/H6
$/improper:bytype221 @/improper:GAFF/X-X-ca-ha $/atom:BPY[55]/C1 $/atom:BPY[55]/C4 $/atom:BPY[55]/C2 $/atom:BPY[55]/H1
$/improper:bytype222 @/improper:GAFF/X-X-ca-ha $/atom:BPY[55]/C1 $/atom:BPY[55]/C5 $/atom:BPY[55]/C3 $/atom:BPY[55]/H2
$/improper:bytype223 @/improper:GAFF/X-X-ca-ha $/atom:BPY[55]/C6 $/atom:BPY[55]/C9 $/atom:BPY[55]/C7 $/atom:BPY[55]/H5
$/improper:bytype224 @/improper:GAFF/X-X-ca-ha $/atom:BPY[55]/C6 $/atom:BPY[55]/C10 $/atom:BPY[55]/C8 $/atom:BPY[55]/H6
$/improper:bytype225 @/improper:GAFF/X-X-ca-ha $/atom:BPY[56]/C1 $/atom:BPY[56]/C4 $/atom:BPY[56]/C2 $/atom:BPY[56]/H1
$/improper:bytype226 @/improper:GAFF/X-X-ca-ha $/atom:BPY[56]/C1 $/atom:BPY[56]/C5 $/atom:BPY[56]/C3 $/atom:BPY[56]/H2
$/improper:bytype227 @/improper:GAFF/X-X-ca-ha $/atom:BPY[56]/C6 $/atom:BPY[56]/C9 $/atom:BPY[56]/C7 $/atom:BPY[56]/H5
$/improper:bytype228 @/improper:GAFF/X-X-ca-ha $/atom:BPY[56]/C6 $/atom:BPY[56]/C10 $/atom:BPY[56]/C8 $/atom:BPY[56]/H6
$/improper:bytype229 @/improper:GAFF/X-X-ca-ha $/atom:BPY[57]/C1 $/atom:BPY[57]/C4 $/atom:BPY[57]/C2 $/atom:BPY[57]/H1
$/improper:bytype230 @/improper:GAFF/X-X-ca-ha $/atom:BPY[57]/C1 $/atom:BPY[57]/C5 $/atom:BPY[57]/C3 $/atom:BPY[57]/H2
$/improper:bytype231 @/improper:GAFF/X-X-ca-ha $/atom:BPY[57]/C6 $/atom:BPY[57]/C9 $/atom:BPY[57]/C7 $/atom:BPY[57]/H5
$/improper:bytype232 @/improper:GAFF/X-X-ca-ha $/atom:BPY[57]/C6 $/atom:BPY[57]/C10 $/atom:BPY[57]/C8 $/atom:BPY[57]/H6
$/improper:bytype233 @/improper:GAFF/X-X-ca-ha $/atom:BPY[58]/C1 $/atom:BPY[58]/C4 $/atom:BPY[58]/C2 $/atom:BPY[58]/H1
$/improper:bytype234 @/improper:GAFF/X-X-ca-ha $/atom:BPY[58]/C1 $/atom:BPY[58]/C5 $/atom:BPY[58]/C3 $/atom:BPY[58]/H2
$/improper:bytype235 @/improper:GAFF/X-X-ca-ha $/atom:BPY[58]/C6 $/atom:BPY[58]/C9 $/atom:BPY[58]/C7 $/atom:BPY[58]/H5
$/improper:bytype236 @/improper:GAFF/X-X-ca-ha $/atom:BPY[58]/C6 $/atom:BPY[58]/C10 $/atom:BPY[58]/C8 $/atom:BPY[58]/H6
$/improper:bytype237 @/improper:GAFF/X-X-ca-ha $/atom:BPY[59]/C1 $/atom:BPY[59]/C4 $/atom:BPY[59]/C2 $/atom:BPY[59]/H1
$/improper:bytype238 @/improper:GAFF/X-X-ca-ha $/atom:BPY[59]/C1 $/atom:BPY[59]/C5 $/atom:BPY[59]/C3 $/atom:BPY[59]/H2
$/improper:bytype239 @/improper:GAFF/X-X-ca-ha $/atom:BPY[59]/C6 $/atom:BPY[59]/C9 $/atom:BPY[59]/C7 $/atom:BPY[59]/H5
$/improper:bytype240 @/improper:GAFF/X-X-ca-ha $/atom:BPY[59]/C6 $/atom:BPY[59]/C10 $/atom:BPY[59]/C8 $/atom:BPY[59]/H6
$/improper:bytype241 @/improper:GAFF/X-X-ca-ha $/atom:BPY[60]/C1 $/atom:BPY[60]/C4 $/atom:BPY[60]/C2 $/atom:BPY[60]/H1
$/improper:bytype242 @/improper:GAFF/X-X-ca-ha $/atom:BPY[60]/C1 $/atom:BPY[60]/C5 $/atom:BPY[60]/C3 $/atom:BPY[60]/H2
$/improper:bytype243 @/improper:GAFF/X-X-ca-ha $/atom:BPY[60]/C6 $/atom:BPY[60]/C9 $/atom:BPY[60]/C7 $/atom:BPY[60]/H5
$/improper:bytype244 @/improper:GAFF/X-X-ca-ha $/atom:BPY[60]/C6 $/atom:BPY[60]/C10 $/atom:BPY[60]/C8 $/atom:BPY[60]/H6
$/improper:bytype245 @/improper:GAFF/X-X-ca-ha $/atom:BPY[61]/C1 $/atom:BPY[61]/C4 $/atom:BPY[61]/C2 $/atom:BPY[61]/H1
$/improper:bytype246 @/improper:GAFF/X-X-ca-ha $/atom:BPY[61]/C1 $/atom:BPY[61]/C5 $/atom:BPY[61]/C3 $/atom:BPY[61]/H2
$/improper:bytype247 @/improper:GAFF/X-X-ca-ha $/atom:BPY[61]/C6 $/atom:BPY[61]/C9 $/atom:BPY[61]/C7 $/atom:BPY[61]/H5
$/improper:bytype248 @/improper:GAFF/X-X-ca-ha $/atom:BPY[61]/C6 $/atom:BPY[61]/C10 $/atom:BPY[61]/C8 $/atom:BPY[61]/H6
$/improper:bytype249 @/improper:GAFF/X-X-ca-ha $/atom:BPY[62]/C1 $/atom:BPY[62]/C4 $/atom:BPY[62]/C2 $/atom:BPY[62]/H1
$/improper:bytype250 @/improper:GAFF/X-X-ca-ha $/atom:BPY[62]/C1 $/atom:BPY[62]/C5 $/atom:BPY[62]/C3 $/atom:BPY[62]/H2
$/improper:bytype251 @/improper:GAFF/X-X-ca-ha $/atom:BPY[62]/C6 $/atom:BPY[62]/C9 $/atom:BPY[62]/C7 $/atom:BPY[62]/H5
$/improper:bytype252 @/improper:GAFF/X-X-ca-ha $/atom:BPY[62]/C6 $/atom:BPY[62]/C10 $/atom:BPY[62]/C8 $/atom:BPY[62]/H6
$/improper:bytype253 @/improper:GAFF/X-X-ca-ha $/atom:BPY[63]/C1 $/atom:BPY[63]/C4 $/atom:BPY[63]/C2 $/atom:BPY[63]/H1
$/improper:bytype254 @/improper:GAFF/X-X-ca-ha $/atom:BPY[63]/C1 $/atom:BPY[63]/C5 $/atom:BPY[63]/C3 $/atom:BPY[63]/H2
$/improper:bytype255 @/improper:GAFF/X-X-ca-ha $/atom:BPY[63]/C6 $/atom:BPY[63]/C9 $/atom:BPY[63]/C7 $/atom:BPY[63]/H5
$/improper:bytype256 @/improper:GAFF/X-X-ca-ha $/atom:BPY[63]/C6 $/atom:BPY[63]/C10 $/atom:BPY[63]/C8 $/atom:BPY[63]/H6
$/improper:bytype257 @/improper:GAFF/X-X-ca-ha $/atom:BPY[64]/C1 $/atom:BPY[64]/C4 $/atom:BPY[64]/C2 $/atom:BPY[64]/H1
$/improper:bytype258 @/improper:GAFF/X-X-ca-ha $/atom:BPY[64]/C1 $/atom:BPY[64]/C5 $/atom:BPY[64]/C3 $/atom:BPY[64]/H2
$/improper:bytype259 @/improper:GAFF/X-X-ca-ha $/atom:BPY[64]/C6 $/atom:BPY[64]/C9 $/atom:BPY[64]/C7 $/atom:BPY[64]/H5
$/improper:bytype260 @/improper:GAFF/X-X-ca-ha $/atom:BPY[64]/C6 $/atom:BPY[64]/C10 $/atom:BPY[64]/C8 $/atom:BPY[64]/H6
$/improper:bytype261 @/improper:GAFF/X-X-ca-ha $/atom:BPY[65]/C1 $/atom:BPY[65]/C4 $/atom:BPY[65]/C2 $/atom:BPY[65]/H1
$/improper:bytype262 @/improper:GAFF/X-X-ca-ha $/atom:BPY[65]/C1 $/atom:BPY[65]/C5 $/atom:BPY[65]/C3 $/atom:BPY[65]/H2
$/improper:bytype263 @/improper:GAFF/X-X-ca-ha $/atom:BPY[65]/C6 $/atom:BPY[65]/C9 $/atom:BPY[65]/C7 $/atom:BPY[65]/H5
$/improper:bytype264 @/improper:GAFF/X-X-ca-ha $/atom:BPY[65]/C6 $/atom:BPY[65]/C10 $/atom:BPY[65]/C8 $/atom:BPY[65]/H6
$/improper:bytype265 @/improper:GAFF/X-X-ca-ha $/atom:BPY[66]/C1 $/atom:BPY[66]/C4 $/atom:BPY[66]/C2 $/atom:BPY[66]/H1
$/improper:bytype266 @/improper:GAFF/X-X-ca-ha $/atom:BPY[66]/C1 $/atom:BPY[66]/C5 $/atom:BPY[66]/C3 $/atom:BPY[66]/H2
$/improper:bytype267 @/improper:GAFF/X-X-ca-ha $/atom:BPY[66]/C6 $/atom:BPY[66]/C9 $/atom:BPY[66]/C7 $/atom:BPY[66]/H5
$/improper:bytype268 @/improper:GAFF/X-X-ca-ha $/atom:BPY[66]/C6 $/atom:BPY[66]/C10 $/atom:BPY[66]/C8 $/atom:BPY[66]/H6
$/improper:bytype269 @/improper:GAFF/X-X-ca-ha $/atom:BPY[67]/C1 $/atom:BPY[67]/C4 $/atom:BPY[67]/C2 $/atom:BPY[67]/H1
$/improper:bytype270 @/improper:GAFF/X-X-ca-ha $/atom:BPY[67]/C1 $/atom:BPY[67]/C5 $/atom:BPY[67]/C3 $/atom:BPY[67]/H2
$/improper:bytype271 @/improper:GAFF/X-X-ca-ha $/atom:BPY[67]/C6 $/atom:BPY[67]/C9 $/atom:BPY[67]/C7 $/atom:BPY[67]/H5
$/improper:bytype272 @/improper:GAFF/X-X-ca-ha $/atom:BPY[67]/C6 $/atom:BPY[67]/C10 $/atom:BPY[67]/C8 $/atom:BPY[67]/H6
$/improper:bytype273 @/improper:GAFF/X-X-ca-ha $/atom:BPY[68]/C1 $/atom:BPY[68]/C4 $/atom:BPY[68]/C2 $/atom:BPY[68]/H1
$/improper:bytype274 @/improper:GAFF/X-X-ca-ha $/atom:BPY[68]/C1 $/atom:BPY[68]/C5 $/atom:BPY[68]/C3 $/atom:BPY[68]/H2
$/improper:bytype275 @/improper:GAFF/X-X-ca-ha $/atom:BPY[68]/C6 $/atom:BPY[68]/C9 $/atom:BPY[68]/C7 $/atom:BPY[68]/H5
$/improper:bytype276 @/improper:GAFF/X-X-ca-ha $/atom:BPY[68]/C6 $/atom:BPY[68]/C10 $/atom:BPY[68]/C8 $/atom:BPY[68]/H6
$/improper:bytype277 @/improper:GAFF/X-X-ca-ha $/atom:BPY[69]/C1 $/atom:BPY[69]/C4 $/atom:BPY[69]/C2 $/atom:BPY[69]/H1
$/improper:bytype278 @/improper:GAFF/X-X-ca-ha $/atom:BPY[69]/C1 $/atom:BPY[69]/C5 $/atom:BPY[69]/C3 $/atom:BPY[69]/H2
$/improper:bytype279 @/improper:GAFF/X-X-ca-ha $/atom:BPY[69]/C6 $/atom:BPY[69]/C9 $/atom:BPY[69]/C7 $/atom:BPY[69]/H5
$/improper:bytype280 @/improper:GAFF/X-X-ca-ha $/atom:BPY[69]/C6 $/atom:BPY[69]/C10 $/atom:BPY[69]/C8 $/atom:BPY[69]/H6
$/improper:bytype281 @/improper:GAFF/X-X-ca-ha $/atom:BPY[70]/C1 $/atom:BPY[70]/C4 $/atom:BPY[70]/C2 $/atom:BPY[70]/H1
$/improper:bytype282 @/improper:GAFF/X-X-ca-ha $/atom:BPY[70]/C1 $/atom:BPY[70]/C5 $/atom:BPY[70]/C3 $/atom:BPY[70]/H2
$/improper:bytype283 @/improper:GAFF/X-X-ca-ha $/atom:BPY[70]/C6 $/atom:BPY[70]/C9 $/atom:BPY[70]/C7 $/atom:BPY[70]/H5
$/improper:bytype284 @/improper:GAFF/X-X-ca-ha $/atom:BPY[70]/C6 $/atom:BPY[70]/C10 $/atom:BPY[70]/C8 $/atom:BPY[70]/H6
$/improper:bytype285 @/improper:GAFF/X-X-ca-ha $/atom:BPY[71]/C1 $/atom:BPY[71]/C4 $/atom:BPY[71]/C2 $/atom:BPY[71]/H1
$/improper:bytype286 @/improper:GAFF/X-X-ca-ha $/atom:BPY[71]/C1 $/atom:BPY[71]/C5 $/atom:BPY[71]/C3 $/atom:BPY[71]/H2
$/improper:bytype287 @/improper:GAFF/X-X-ca-ha $/atom:BPY[71]/C6 $/atom:BPY[71]/C9 $/atom:BPY[71]/C7 $/atom:BPY[71]/H5
$/improper:bytype288 @/improper:GAFF/X-X-ca-ha $/atom:BPY[71]/C6 $/atom:BPY[71]/C10 $/atom:BPY[71]/C8 $/atom:BPY[71]/H6
$/improper:bytype289 @/improper:GAFF/X-X-ca-ha $/atom:BPY[72]/C1 $/atom:BPY[72]/C4 $/atom:BPY[72]/C2 $/atom:BPY[72]/H1
$/improper:bytype290 @/improper:GAFF/X-X-ca-ha $/atom:BPY[72]/C1 $/atom:BPY[72]/C5 $/atom:BPY[72]/C3 $/atom:BPY[72]/H2
$/improper:bytype291 @/improper:GAFF/X-X-ca-ha $/atom:BPY[72]/C6 $/atom:BPY[72]/C9 $/atom:BPY[72]/C7 $/atom:BPY[72]/H5
$/improper:bytype292 @/improper:GAFF/X-X-ca-ha $/atom:BPY[72]/C6 $/atom:BPY[72]/C10 $/atom:BPY[72]/C8 $/atom:BPY[72]/H6
$/improper:bytype293 @/improper:GAFF/X-X-ca-ha $/atom:BPY[73]/C1 $/atom:BPY[73]/C4 $/atom:BPY[73]/C2 $/atom:BPY[73]/H1
$/improper:bytype294 @/improper:GAFF/X-X-ca-ha $/atom:BPY[73]/C1 $/atom:BPY[73]/C5 $/atom:BPY[73]/C3 $/atom:BPY[73]/H2
$/improper:bytype295 @/improper:GAFF/X-X-ca-ha $/atom:BPY[73]/C6 $/atom:BPY[73]/C9 $/atom:BPY[73]/C7 $/atom:BPY[73]/H5
$/improper:bytype296 @/improper:GAFF/X-X-ca-ha $/atom:BPY[73]/C6 $/atom:BPY[73]/C10 $/atom:BPY[73]/C8 $/atom:BPY[73]/H6
$/improper:bytype297 @/improper:GAFF/X-X-ca-ha $/atom:BPY[74]/C1 $/atom:BPY[74]/C4 $/atom:BPY[74]/C2 $/atom:BPY[74]/H1
$/improper:bytype298 @/improper:GAFF/X-X-ca-ha $/atom:BPY[74]/C1 $/atom:BPY[74]/C5 $/atom:BPY[74]/C3 $/atom:BPY[74]/H2
$/improper:bytype299 @/improper:GAFF/X-X-ca-ha $/atom:BPY[74]/C6 $/atom:BPY[74]/C9 $/atom:BPY[74]/C7 $/atom:BPY[74]/H5
$/improper:bytype300 @/improper:GAFF/X-X-ca-ha $/atom:BPY[74]/C6 $/atom:BPY[74]/C10 $/atom:BPY[74]/C8 $/atom:BPY[74]/H6
$/improper:bytype301 @/improper:GAFF/X-X-ca-ha $/atom:BPY[75]/C1 $/atom:BPY[75]/C4 $/atom:BPY[75]/C2 $/atom:BPY[75]/H1
$/improper:bytype302 @/improper:GAFF/X-X-ca-ha $/atom:BPY[75]/C1 $/atom:BPY[75]/C5 $/atom:BPY[75]/C3 $/atom:BPY[75]/H2
$/improper:bytype303 @/improper:GAFF/X-X-ca-ha $/atom:BPY[75]/C6 $/atom:BPY[75]/C9 $/atom:BPY[75]/C7 $/atom:BPY[75]/H5
$/improper:bytype304 @/improper:GAFF/X-X-ca-ha $/atom:BPY[75]/C6 $/atom:BPY[75]/C10 $/atom:BPY[75]/C8 $/atom:BPY[75]/H6
$/improper:bytype305 @/improper:GAFF/X-X-ca-ha $/atom:BPY[76]/C1 $/atom:BPY[76]/C4 $/atom:BPY[76]/C2 $/atom:BPY[76]/H1
$/improper:bytype306 @/improper:GAFF/X-X-ca-ha $/atom:BPY[76]/C1 $/atom:BPY[76]/C5 $/atom:BPY[76]/C3 $/atom:BPY[76]/H2
$/improper:bytype307 @/improper:GAFF/X-X-ca-ha $/atom:BPY[76]/C6 $/atom:BPY[76]/C9 $/atom:BPY[76]/C7 $/atom:BPY[76]/H5
$/improper:bytype308 @/improper:GAFF/X-X-ca-ha $/atom:BPY[76]/C6 $/atom:BPY[76]/C10 $/atom:BPY[76]/C8 $/atom:BPY[76]/H6
$/improper:bytype309 @/improper:GAFF/X-X-ca-ha $/atom:BPY[77]/C1 $/atom:BPY[77]/C4 $/atom:BPY[77]/C2 $/atom:BPY[77]/H1
$/improper:bytype310 @/improper:GAFF/X-X-ca-ha $/atom:BPY[77]/C1 $/atom:BPY[77]/C5 $/atom:BPY[77]/C3 $/atom:BPY[77]/H2
$/improper:bytype311 @/improper:GAFF/X-X-ca-ha $/atom:BPY[77]/C6 $/atom:BPY[77]/C9 $/atom:BPY[77]/C7 $/atom:BPY[77]/H5
$/improper:bytype312 @/improper:GAFF/X-X-ca-ha $/atom:BPY[77]/C6 $/atom:BPY[77]/C10 $/atom:BPY[77]/C8 $/atom:BPY[77]/H6
$/improper:bytype313 @/improper:GAFF/X-X-ca-ha $/atom:BPY[78]/C1 $/atom:BPY[78]/C4 $/atom:BPY[78]/C2 $/atom:BPY[78]/H1
$/improper:bytype314 @/improper:GAFF/X-X-ca-ha $/atom:BPY[78]/C1 $/atom:BPY[78]/C5 $/atom:BPY[78]/C3 $/atom:BPY[78]/H2
$/improper:bytype315 @/improper:GAFF/X-X-ca-ha $/atom:BPY[78]/C6 $/atom:BPY[78]/C9 $/atom:BPY[78]/C7 $/atom:BPY[78]/H5
$/improper:bytype316 @/improper:GAFF/X-X-ca-ha $/atom:BPY[78]/C6 $/atom:BPY[78]/C10 $/atom:BPY[78]/C8 $/atom:BPY[78]/H6
$/improper:bytype317 @/improper:GAFF/X-X-ca-ha $/atom:BPY[79]/C1 $/atom:BPY[79]/C4 $/atom:BPY[79]/C2 $/atom:BPY[79]/H1
$/improper:bytype318 @/improper:GAFF/X-X-ca-ha $/atom:BPY[79]/C1 $/atom:BPY[79]/C5 $/atom:BPY[79]/C3 $/atom:BPY[79]/H2
$/improper:bytype319 @/improper:GAFF/X-X-ca-ha $/atom:BPY[79]/C6 $/atom:BPY[79]/C9 $/atom:BPY[79]/C7 $/atom:BPY[79]/H5
$/improper:bytype320 @/improper:GAFF/X-X-ca-ha $/atom:BPY[79]/C6 $/atom:BPY[79]/C10 $/atom:BPY[79]/C8 $/atom:BPY[79]/H6
$/improper:bytype321 @/improper:GAFF/X-X-ca-ha $/atom:BPY[80]/C1 $/atom:BPY[80]/C4 $/atom:BPY[80]/C2 $/atom:BPY[80]/H1
$/improper:bytype322 @/improper:GAFF/X-X-ca-ha $/atom:BPY[80]/C1 $/atom:BPY[80]/C5 $/atom:BPY[80]/C3 $/atom:BPY[80]/H2
$/improper:bytype323 @/improper:GAFF/X-X-ca-ha $/atom:BPY[80]/C6 $/atom:BPY[80]/C9 $/atom:BPY[80]/C7 $/atom:BPY[80]/H5
$/improper:bytype324 @/improper:GAFF/X-X-ca-ha $/atom:BPY[80]/C6 $/atom:BPY[80]/C10 $/atom:BPY[80]/C8 $/atom:BPY[80]/H6
$/improper:bytype325 @/improper:GAFF/X-X-ca-ha $/atom:BPY[81]/C1 $/atom:BPY[81]/C4 $/atom:BPY[81]/C2 $/atom:BPY[81]/H1
$/improper:bytype326 @/improper:GAFF/X-X-ca-ha $/atom:BPY[81]/C1 $/atom:BPY[81]/C5 $/atom:BPY[81]/C3 $/atom:BPY[81]/H2
$/improper:bytype327 @/improper:GAFF/X-X-ca-ha $/atom:BPY[81]/C6 $/atom:BPY[81]/C9 $/atom:BPY[81]/C7 $/atom:BPY[81]/H5
$/improper:bytype328 @/improper:GAFF/X-X-ca-ha $/atom:BPY[81]/C6 $/atom:BPY[81]/C10 $/atom:BPY[81]/C8 $/atom:BPY[81]/H6
$/improper:bytype329 @/improper:GAFF/X-X-ca-ha $/atom:BPY[82]/C1 $/atom:BPY[82]/C4 $/atom:BPY[82]/C2 $/atom:BPY[82]/H1
$/improper:bytype330 @/improper:GAFF/X-X-ca-ha $/atom:BPY[82]/C1 $/atom:BPY[82]/C5 $/atom:BPY[82]/C3 $/atom:BPY[82]/H2
$/improper:bytype331 @/improper:GAFF/X-X-ca-ha $/atom:BPY[82]/C6 $/atom:BPY[82]/C9 $/atom:BPY[82]/C7 $/atom:BPY[82]/H5
$/improper:bytype332 @/improper:GAFF/X-X-ca-ha $/atom:BPY[82]/C6 $/atom:BPY[82]/C10 $/atom:BPY[82]/C8 $/atom:BPY[82]/H6
$/improper:bytype333 @/improper:GAFF/X-X-ca-ha $/atom:BPY[83]/C1 $/atom:BPY[83]/C4 $/atom:BPY[83]/C2 $/atom:BPY[83]/H1
$/improper:bytype334 @/improper:GAFF/X-X-ca-ha $/atom:BPY[83]/C1 $/atom:BPY[83]/C5 $/atom:BPY[83]/C3 $/atom:BPY[83]/H2
$/improper:bytype335 @/improper:GAFF/X-X-ca-ha $/atom:BPY[83]/C6 $/atom:BPY[83]/C9 $/atom:BPY[83]/C7 $/atom:BPY[83]/H5
$/improper:bytype336 @/improper:GAFF/X-X-ca-ha $/atom:BPY[83]/C6 $/atom:BPY[83]/C10 $/atom:BPY[83]/C8 $/atom:BPY[83]/H6
$/improper:bytype337 @/improper:GAFF/X-X-ca-ha $/atom:BPY[84]/C1 $/atom:BPY[84]/C4 $/atom:BPY[84]/C2 $/atom:BPY[84]/H1
$/improper:bytype338 @/improper:GAFF/X-X-ca-ha $/atom:BPY[84]/C1 $/atom:BPY[84]/C5 $/atom:BPY[84]/C3 $/atom:BPY[84]/H2
$/improper:bytype339 @/improper:GAFF/X-X-ca-ha $/atom:BPY[84]/C6 $/atom:BPY[84]/C9 $/atom:BPY[84]/C7 $/atom:BPY[84]/H5
$/improper:bytype340 @/improper:GAFF/X-X-ca-ha $/atom:BPY[84]/C6 $/atom:BPY[84]/C10 $/atom:BPY[84]/C8 $/atom:BPY[84]/H6
$/improper:bytype341 @/improper:GAFF/X-X-ca-ha $/atom:BPY[85]/C1 $/atom:BPY[85]/C4 $/atom:BPY[85]/C2 $/atom:BPY[85]/H1
$/improper:bytype342 @/improper:GAFF/X-X-ca-ha $/atom:BPY[85]/C1 $/atom:BPY[85]/C5 $/atom:BPY[85]/C3 $/atom:BPY[85]/H2
$/improper:bytype343 @/improper:GAFF/X-X-ca-ha $/atom:BPY[85]/C6 $/atom:BPY[85]/C9 $/atom:BPY[85]/C7 $/atom:BPY[85]/H5
$/improper:bytype344 @/improper:GAFF/X-X-ca-ha $/atom:BPY[85]/C6 $/atom:BPY[85]/C10 $/atom:BPY[85]/C8 $/atom:BPY[85]/H6
$/improper:bytype345 @/improper:GAFF/X-X-ca-ha $/atom:BPY[86]/C1 $/atom:BPY[86]/C4 $/atom:BPY[86]/C2 $/atom:BPY[86]/H1
$/improper:bytype346 @/improper:GAFF/X-X-ca-ha $/atom:BPY[86]/C1 $/atom:BPY[86]/C5 $/atom:BPY[86]/C3 $/atom:BPY[86]/H2
$/improper:bytype347 @/improper:GAFF/X-X-ca-ha $/atom:BPY[86]/C6 $/atom:BPY[86]/C9 $/atom:BPY[86]/C7 $/atom:BPY[86]/H5
$/improper:bytype348 @/improper:GAFF/X-X-ca-ha $/atom:BPY[86]/C6 $/atom:BPY[86]/C10 $/atom:BPY[86]/C8 $/atom:BPY[86]/H6
$/improper:bytype349 @/improper:GAFF/X-X-ca-ha $/atom:BPY[87]/C1 $/atom:BPY[87]/C4 $/atom:BPY[87]/C2 $/atom:BPY[87]/H1
$/improper:bytype350 @/improper:GAFF/X-X-ca-ha $/atom:BPY[87]/C1 $/atom:BPY[87]/C5 $/atom:BPY[87]/C3 $/atom:BPY[87]/H2
$/improper:bytype351 @/improper:GAFF/X-X-ca-ha $/atom:BPY[87]/C6 $/atom:BPY[87]/C9 $/atom:BPY[87]/C7 $/atom:BPY[87]/H5
$/improper:bytype352 @/improper:GAFF/X-X-ca-ha $/atom:BPY[87]/C6 $/atom:BPY[87]/C10 $/atom:BPY[87]/C8 $/atom:BPY[87]/H6
$/improper:bytype353 @/improper:GAFF/X-X-ca-ha $/atom:BPY[88]/C1 $/atom:BPY[88]/C4 $/atom:BPY[88]/C2 $/atom:BPY[88]/H1
$/improper:bytype354 @/improper:GAFF/X-X-ca-ha $/atom:BPY[88]/C1 $/atom:BPY[88]/C5 $/atom:BPY[88]/C3 $/atom:BPY[88]/H2
$/improper:bytype355 @/improper:GAFF/X-X-ca-ha $/atom:BPY[88]/C6 $/atom:BPY[88]/C9 $/atom:BPY[88]/C7 $/atom:BPY[88]/H5
$/improper:bytype356 @/improper:GAFF/X-X-ca-ha $/atom:BPY[88]/C6 $/atom:BPY[88]/C10 $/atom:BPY[88]/C8 $/atom:BPY[88]/H6
$/improper:bytype357 @/improper:GAFF/X-X-ca-ha $/atom:BPY[89]/C1 $/atom:BPY[89]/C4 $/atom:BPY[89]/C2 $/atom:BPY[89]/H1
$/improper:bytype358 @/improper:GAFF/X-X-ca-ha $/atom:BPY[89]/C1 $/atom:BPY[89]/C5 $/atom:BPY[89]/C3 $/atom:BPY[89]/H2
$/improper:bytype359 @/improper:GAFF/X-X-ca-ha $/atom:BPY[89]/C6 $/atom:BPY[89]/C9 $/atom:BPY[89]/C7 $/atom:BPY[89]/H5
$/improper:bytype360 @/improper:GAFF/X-X-ca-ha $/atom:BPY[89]/C6 $/atom:BPY[89]/C10 $/atom:BPY[89]/C8 $/atom:BPY[89]/H6
$/improper:bytype361 @/improper:GAFF/X-X-ca-ha $/atom:BPY[90]/C1 $/atom:BPY[90]/C4 $/atom:BPY[90]/C2 $/atom:BPY[90]/H1
$/improper:bytype362 @/improper:GAFF/X-X-ca-ha $/atom:BPY[90]/C1 $/atom:BPY[90]/C5 $/atom:BPY[90]/C3 $/atom:BPY[90]/H2
$/improper:bytype363 @/improper:GAFF/X-X-ca-ha $/atom:BPY[90]/C6 $/atom:BPY[90]/C9 $/atom:BPY[90]/C7 $/atom:BPY[90]/H5
$/improper:bytype364 @/improper:GAFF/X-X-ca-ha $/atom:BPY[90]/C6 $/atom:BPY[90]/C10 $/atom:BPY[90]/C8 $/atom:BPY[90]/H6
$/improper:bytype365 @/improper:GAFF/X-X-ca-ha $/atom:BPY[91]/C1 $/atom:BPY[91]/C4 $/atom:BPY[91]/C2 $/atom:BPY[91]/H1
$/improper:bytype366 @/improper:GAFF/X-X-ca-ha $/atom:BPY[91]/C1 $/atom:BPY[91]/C5 $/atom:BPY[91]/C3 $/atom:BPY[91]/H2
$/improper:bytype367 @/improper:GAFF/X-X-ca-ha $/atom:BPY[91]/C6 $/atom:BPY[91]/C9 $/atom:BPY[91]/C7 $/atom:BPY[91]/H5
$/improper:bytype368 @/improper:GAFF/X-X-ca-ha $/atom:BPY[91]/C6 $/atom:BPY[91]/C10 $/atom:BPY[91]/C8 $/atom:BPY[91]/H6
$/improper:bytype369 @/improper:GAFF/X-X-ca-ha $/atom:BPY[92]/C1 $/atom:BPY[92]/C4 $/atom:BPY[92]/C2 $/atom:BPY[92]/H1
$/improper:bytype370 @/improper:GAFF/X-X-ca-ha $/atom:BPY[92]/C1 $/atom:BPY[92]/C5 $/atom:BPY[92]/C3 $/atom:BPY[92]/H2
$/improper:bytype371 @/improper:GAFF/X-X-ca-ha $/atom:BPY[92]/C6 $/atom:BPY[92]/C9 $/atom:BPY[92]/C7 $/atom:BPY[92]/H5
$/improper:bytype372 @/improper:GAFF/X-X-ca-ha $/atom:BPY[92]/C6 $/atom:BPY[92]/C10 $/atom:BPY[92]/C8 $/atom:BPY[92]/H6
$/improper:bytype373 @/improper:GAFF/X-X-ca-ha $/atom:BPY[93]/C1 $/atom:BPY[93]/C4 $/atom:BPY[93]/C2 $/atom:BPY[93]/H1
$/improper:bytype374 @/improper:GAFF/X-X-ca-ha $/atom:BPY[93]/C1 $/atom:BPY[93]/C5 $/atom:BPY[93]/C3 $/atom:BPY[93]/H2
$/improper:bytype375 @/improper:GAFF/X-X-ca-ha $/atom:BPY[93]/C6 $/atom:BPY[93]/C9 $/atom:BPY[93]/C7 $/atom:BPY[93]/H5
$/improper:bytype376 @/improper:GAFF/X-X-ca-ha $/atom:BPY[93]/C6 $/atom:BPY[93]/C10 $/atom:BPY[93]/C8 $/atom:BPY[93]/H6
$/improper:bytype377 @/improper:GAFF/X-X-ca-ha $/atom:BPY[94]/C1 $/atom:BPY[94]/C4 $/atom:BPY[94]/C2 $/atom:BPY[94]/H1
$/improper:bytype378 @/improper:GAFF/X-X-ca-ha $/atom:BPY[94]/C1 $/atom:BPY[94]/C5 $/atom:BPY[94]/C3 $/atom:BPY[94]/H2
$/improper:bytype379 @/improper:GAFF/X-X-ca-ha $/atom:BPY[94]/C6 $/atom:BPY[94]/C9 $/atom:BPY[94]/C7 $/atom:BPY[94]/H5
$/improper:bytype380 @/improper:GAFF/X-X-ca-ha $/atom:BPY[94]/C6 $/atom:BPY[94]/C10 $/atom:BPY[94]/C8 $/atom:BPY[94]/H6
$/improper:bytype381 @/improper:GAFF/X-X-ca-ha $/atom:BPY[95]/C1 $/atom:BPY[95]/C4 $/atom:BPY[95]/C2 $/atom:BPY[95]/H1
$/improper:bytype382 @/improper:GAFF/X-X-ca-ha $/atom:BPY[95]/C1 $/atom:BPY[95]/C5 $/atom:BPY[95]/C3 $/atom:BPY[95]/H2
$/improper:bytype383 @/improper:GAFF/X-X-ca-ha $/atom:BPY[95]/C6 $/atom:BPY[95]/C9 $/atom:BPY[95]/C7 $/atom:BPY[95]/H5
$/improper:bytype384 @/improper:GAFF/X-X-ca-ha $/atom:BPY[95]/C6 $/atom:BPY[95]/C10 $/atom:BPY[95]/C8 $/atom:BPY[95]/H6
$/improper:bytype385 @/improper:GAFF/X-X-ca-ha $/atom:BPY[96]/C1 $/atom:BPY[96]/C4 $/atom:BPY[96]/C2 $/atom:BPY[96]/H1
$/improper:bytype386 @/improper:GAFF/X-X-ca-ha $/atom:BPY[96]/C1 $/atom:BPY[96]/C5 $/atom:BPY[96]/C3 $/atom:BPY[96]/H2
$/improper:bytype387 @/improper:GAFF/X-X-ca-ha $/atom:BPY[96]/C6 $/atom:BPY[96]/C9 $/atom:BPY[96]/C7 $/atom:BPY[96]/H5
$/improper:bytype388 @/improper:GAFF/X-X-ca-ha $/atom:BPY[96]/C6 $/atom:BPY[96]/C10 $/atom:BPY[96]/C8 $/atom:BPY[96]/H6
$/improper:bytype389 @/improper:GAFF/X-X-ca-ha $/atom:BPY[97]/C1 $/atom:BPY[97]/C4 $/atom:BPY[97]/C2 $/atom:BPY[97]/H1
$/improper:bytype390 @/improper:GAFF/X-X-ca-ha $/atom:BPY[97]/C1 $/atom:BPY[97]/C5 $/atom:BPY[97]/C3 $/atom:BPY[97]/H2
$/improper:bytype391 @/improper:GAFF/X-X-ca-ha $/atom:BPY[97]/C6 $/atom:BPY[97]/C9 $/atom:BPY[97]/C7 $/atom:BPY[97]/H5
$/improper:bytype392 @/improper:GAFF/X-X-ca-ha $/atom:BPY[97]/C6 $/atom:BPY[97]/C10 $/atom:BPY[97]/C8 $/atom:BPY[97]/H6
$/improper:bytype393 @/improper:GAFF/X-X-ca-ha $/atom:BPY[98]/C1 $/atom:BPY[98]/C4 $/atom:BPY[98]/C2 $/atom:BPY[98]/H1
$/improper:bytype394 @/improper:GAFF/X-X-ca-ha $/atom:BPY[98]/C1 $/atom:BPY[98]/C5 $/atom:BPY[98]/C3 $/atom:BPY[98]/H2
$/improper:bytype395 @/improper:GAFF/X-X-ca-ha $/atom:BPY[98]/C6 $/atom:BPY[98]/C9 $/atom:BPY[98]/C7 $/atom:BPY[98]/H5
$/improper:bytype396 @/improper:GAFF/X-X-ca-ha $/atom:BPY[98]/C6 $/atom:BPY[98]/C10 $/atom:BPY[98]/C8 $/atom:BPY[98]/H6
$/improper:bytype397 @/improper:GAFF/X-X-ca-ha $/atom:BPY[99]/C1 $/atom:BPY[99]/C4 $/atom:BPY[99]/C2 $/atom:BPY[99]/H1
$/improper:bytype398 @/improper:GAFF/X-X-ca-ha $/atom:BPY[99]/C1 $/atom:BPY[99]/C5 $/atom:BPY[99]/C3 $/atom:BPY[99]/H2
$/improper:bytype399 @/improper:GAFF/X-X-ca-ha $/atom:BPY[99]/C6 $/atom:BPY[99]/C9 $/atom:BPY[99]/C7 $/atom:BPY[99]/H5
$/improper:bytype400 @/improper:GAFF/X-X-ca-ha $/atom:BPY[99]/C6 $/atom:BPY[99]/C10 $/atom:BPY[99]/C8 $/atom:BPY[99]/H6
$/improper:bytype401 @/improper:GAFF/X-X-ca-ha $/atom:BPY[100]/C1 $/atom:BPY[100]/C4 $/atom:BPY[100]/C2 $/atom:BPY[100]/H1
$/improper:bytype402 @/improper:GAFF/X-X-ca-ha $/atom:BPY[100]/C1 $/atom:BPY[100]/C5 $/atom:BPY[100]/C3 $/atom:BPY[100]/H2
$/improper:bytype403 @/improper:GAFF/X-X-ca-ha $/atom:BPY[100]/C6 $/atom:BPY[100]/C9 $/atom:BPY[100]/C7 $/atom:BPY[100]/H5
$/improper:bytype404 @/improper:GAFF/X-X-ca-ha $/atom:BPY[100]/C6 $/atom:BPY[100]/C10 $/atom:BPY[100]/C8 $/atom:BPY[100]/H6
$/improper:bytype405 @/improper:GAFF/X-X-ca-ha $/atom:BPY[101]/C1 $/atom:BPY[101]/C4 $/atom:BPY[101]/C2 $/atom:BPY[101]/H1
$/improper:bytype406 @/improper:GAFF/X-X-ca-ha $/atom:BPY[101]/C1 $/atom:BPY[101]/C5 $/atom:BPY[101]/C3 $/atom:BPY[101]/H2
$/improper:bytype407 @/improper:GAFF/X-X-ca-ha $/atom:BPY[101]/C6 $/atom:BPY[101]/C9 $/atom:BPY[101]/C7 $/atom:BPY[101]/H5
$/improper:bytype408 @/improper:GAFF/X-X-ca-ha $/atom:BPY[101]/C6 $/atom:BPY[101]/C10 $/atom:BPY[101]/C8 $/atom:BPY[101]/H6
$/improper:bytype409 @/improper:GAFF/X-X-ca-ha $/atom:BPY[102]/C1 $/atom:BPY[102]/C4 $/atom:BPY[102]/C2 $/atom:BPY[102]/H1
$/improper:bytype410 @/improper:GAFF/X-X-ca-ha $/atom:BPY[102]/C1 $/atom:BPY[102]/C5 $/atom:BPY[102]/C3 $/atom:BPY[102]/H2
$/improper:bytype411 @/improper:GAFF/X-X-ca-ha $/atom:BPY[102]/C6 $/atom:BPY[102]/C9 $/atom:BPY[102]/C7 $/atom:BPY[102]/H5
$/improper:bytype412 @/improper:GAFF/X-X-ca-ha $/atom:BPY[102]/C6 $/atom:BPY[102]/C10 $/atom:BPY[102]/C8 $/atom:BPY[102]/H6
$/improper:bytype413 @/improper:GAFF/X-X-ca-ha $/atom:BPY[103]/C1 $/atom:BPY[103]/C4 $/atom:BPY[103]/C2 $/atom:BPY[103]/H1
$/improper:bytype414 @/improper:GAFF/X-X-ca-ha $/atom:BPY[103]/C1 $/atom:BPY[103]/C5 $/atom:BPY[103]/C3 $/atom:BPY[103]/H2
$/improper:bytype415 @/improper:GAFF/X-X-ca-ha $/atom:BPY[103]/C6 $/atom:BPY[103]/C9 $/atom:BPY[103]/C7 $/atom:BPY[103]/H5
$/improper:bytype416 @/improper:GAFF/X-X-ca-ha $/atom:BPY[103]/C6 $/atom:BPY[103]/C10 $/atom:BPY[103]/C8 $/atom:BPY[103]/H6
$/improper:bytype417 @/improper:GAFF/X-X-ca-ha $/atom:BPY[104]/C1 $/atom:BPY[104]/C4 $/atom:BPY[104]/C2 $/atom:BPY[104]/H1
$/improper:bytype418 @/improper:GAFF/X-X-ca-ha $/atom:BPY[104]/C1 $/atom:BPY[104]/C5 $/atom:BPY[104]/C3 $/atom:BPY[104]/H2
$/improper:bytype419 @/improper:GAFF/X-X-ca-ha $/atom:BPY[104]/C6 $/atom:BPY[104]/C9 $/atom:BPY[104]/C7 $/atom:BPY[104]/H5
$/improper:bytype420 @/improper:GAFF/X-X-ca-ha $/atom:BPY[104]/C6 $/atom:BPY[104]/C10 $/atom:BPY[104]/C8 $/atom:BPY[104]/H6
$/improper:bytype421 @/improper:GAFF/X-X-ca-ha $/atom:BPY[105]/C1 $/atom:BPY[105]/C4 $/atom:BPY[105]/C2 $/atom:BPY[105]/H1
$/improper:bytype422 @/improper:GAFF/X-X-ca-ha $/atom:BPY[105]/C1 $/atom:BPY[105]/C5 $/atom:BPY[105]/C3 $/atom:BPY[105]/H2
$/improper:bytype423 @/improper:GAFF/X-X-ca-ha $/atom:BPY[105]/C6 $/atom:BPY[105]/C9 $/atom:BPY[105]/C7 $/atom:BPY[105]/H5
$/improper:bytype424 @/improper:GAFF/X-X-ca-ha $/atom:BPY[105]/C6 $/atom:BPY[105]/C10 $/atom:BPY[105]/C8 $/atom:BPY[105]/H6
$/improper:bytype425 @/improper:GAFF/X-X-ca-ha $/atom:BPY[106]/C1 $/atom:BPY[106]/C4 $/atom:BPY[106]/C2 $/atom:BPY[106]/H1
$/improper:bytype426 @/improper:GAFF/X-X-ca-ha $/atom:BPY[106]/C1 $/atom:BPY[106]/C5 $/atom:BPY[106]/C3 $/atom:BPY[106]/H2
$/improper:bytype427 @/improper:GAFF/X-X-ca-ha $/atom:BPY[106]/C6 $/atom:BPY[106]/C9 $/atom:BPY[106]/C7 $/atom:BPY[106]/H5
$/improper:bytype428 @/improper:GAFF/X-X-ca-ha $/atom:BPY[106]/C6 $/atom:BPY[106]/C10 $/atom:BPY[106]/C8 $/atom:BPY[106]/H6
$/improper:bytype429 @/improper:GAFF/X-X-ca-ha $/atom:BPY[107]/C1 $/atom:BPY[107]/C4 $/atom:BPY[107]/C2 $/atom:BPY[107]/H1
$/improper:bytype430 @/improper:GAFF/X-X-ca-ha $/atom:BPY[107]/C1 $/atom:BPY[107]/C5 $/atom:BPY[107]/C3 $/atom:BPY[107]/H2
$/improper:bytype431 @/improper:GAFF/X-X-ca-ha $/atom:BPY[107]/C6 $/atom:BPY[107]/C9 $/atom:BPY[107]/C7 $/atom:BPY[107]/H5
$/improper:bytype432 @/improper:GAFF/X-X-ca-ha $/atom:BPY[107]/C6 $/atom:BPY[107]/C10 $/atom:BPY[107]/C8 $/atom:BPY[107]/H6
$/improper:bytype433 @/improper:GAFF/X-X-ca-ha $/atom:BPY[108]/C1 $/atom:BPY[108]/C4 $/atom:BPY[108]/C2 $/atom:BPY[108]/H1
$/improper:bytype434 @/improper:GAFF/X-X-ca-ha $/atom:BPY[108]/C1 $/atom:BPY[108]/C5 $/atom:BPY[108]/C3 $/atom:BPY[108]/H2
$/improper:bytype435 @/improper:GAFF/X-X-ca-ha $/atom:BPY[108]/C6 $/atom:BPY[108]/C9 $/atom:BPY[108]/C7 $/atom:BPY[108]/H5
$/improper:bytype436 @/improper:GAFF/X-X-ca-ha $/atom:BPY[108]/C6 $/atom:BPY[108]/C10 $/atom:BPY[108]/C8 $/atom:BPY[108]/H6
$/improper:bytype437 @/improper:GAFF/X-X-ca-ha $/atom:BPY[109]/C1 $/atom:BPY[109]/C4 $/atom:BPY[109]/C2 $/atom:BPY[109]/H1
$/improper:bytype438 @/improper:GAFF/X-X-ca-ha $/atom:BPY[109]/C1 $/atom:BPY[109]/C5 $/atom:BPY[109]/C3 $/atom:BPY[109]/H2
$/improper:bytype439 @/improper:GAFF/X-X-ca-ha $/atom:BPY[109]/C6 $/atom:BPY[109]/C9 $/atom:BPY[109]/C7 $/atom:BPY[109]/H5
$/improper:bytype440 @/improper:GAFF/X-X-ca-ha $/atom:BPY[109]/C6 $/atom:BPY[109]/C10 $/atom:BPY[109]/C8 $/atom:BPY[109]/H6
$/improper:bytype441 @/improper:GAFF/X-X-ca-ha $/atom:BPY[110]/C1 $/atom:BPY[110]/C4 $/atom:BPY[110]/C2 $/atom:BPY[110]/H1
$/improper:bytype442 @/improper:GAFF/X-X-ca-ha $/atom:BPY[110]/C1 $/atom:BPY[110]/C5 $/atom:BPY[110]/C3 $/atom:BPY[110]/H2
$/improper:bytype443 @/improper:GAFF/X-X-ca-ha $/atom:BPY[110]/C6 $/atom:BPY[110]/C9 $/atom:BPY[110]/C7 $/atom:BPY[110]/H5
$/improper:bytype444 @/improper:GAFF/X-X-ca-ha $/atom:BPY[110]/C6 $/atom:BPY[110]/C10 $/atom:BPY[110]/C8 $/atom:BPY[110]/H6
$/improper:bytype445 @/improper:GAFF/X-X-ca-ha $/atom:BPY[111]/C1 $/atom:BPY[111]/C4 $/atom:BPY[111]/C2 $/atom:BPY[111]/H1
$/improper:bytype446 @/improper:GAFF/X-X-ca-ha $/atom:BPY[111]/C1 $/atom:BPY[111]/C5 $/atom:BPY[111]/C3 $/atom:BPY[111]/H2
$/improper:bytype447 @/improper:GAFF/X-X-ca-ha $/atom:BPY[111]/C6 $/atom:BPY[111]/C9 $/atom:BPY[111]/C7 $/atom:BPY[111]/H5
$/improper:bytype448 @/improper:GAFF/X-X-ca-ha $/atom:BPY[111]/C6 $/atom:BPY[111]/C10 $/atom:BPY[111]/C8 $/atom:BPY[111]/H6
$/improper:bytype449 @/improper:GAFF/X-X-ca-ha $/atom:BPY[112]/C1 $/atom:BPY[112]/C4 $/atom:BPY[112]/C2 $/atom:BPY[112]/H1
$/improper:bytype450 @/improper:GAFF/X-X-ca-ha $/atom:BPY[112]/C1 $/atom:BPY[112]/C5 $/atom:BPY[112]/C3 $/atom:BPY[112]/H2
$/improper:bytype451 @/improper:GAFF/X-X-ca-ha $/atom:BPY[112]/C6 $/atom:BPY[112]/C9 $/atom:BPY[112]/C7 $/atom:BPY[112]/H5
$/improper:bytype452 @/improper:GAFF/X-X-ca-ha $/atom:BPY[112]/C6 $/atom:BPY[112]/C10 $/atom:BPY[112]/C8 $/atom:BPY[112]/H6
$/improper:bytype453 @/improper:GAFF/X-X-ca-ha $/atom:BPY[113]/C1 $/atom:BPY[113]/C4 $/atom:BPY[113]/C2 $/atom:BPY[113]/H1
$/improper:bytype454 @/improper:GAFF/X-X-ca-ha $/atom:BPY[113]/C1 $/atom:BPY[113]/C5 $/atom:BPY[113]/C3 $/atom:BPY[113]/H2
$/improper:bytype455 @/improper:GAFF/X-X-ca-ha $/atom:BPY[113]/C6 $/atom:BPY[113]/C9 $/atom:BPY[113]/C7 $/atom:BPY[113]/H5
$/improper:bytype456 @/improper:GAFF/X-X-ca-ha $/atom:BPY[113]/C6 $/atom:BPY[113]/C10 $/atom:BPY[113]/C8 $/atom:BPY[113]/H6
$/improper:bytype457 @/improper:GAFF/X-X-ca-ha $/atom:BPY[114]/C1 $/atom:BPY[114]/C4 $/atom:BPY[114]/C2 $/atom:BPY[114]/H1
$/improper:bytype458 @/improper:GAFF/X-X-ca-ha $/atom:BPY[114]/C1 $/atom:BPY[114]/C5 $/atom:BPY[114]/C3 $/atom:BPY[114]/H2
$/improper:bytype459 @/improper:GAFF/X-X-ca-ha $/atom:BPY[114]/C6 $/atom:BPY[114]/C9 $/atom:BPY[114]/C7 $/atom:BPY[114]/H5
$/improper:bytype460 @/improper:GAFF/X-X-ca-ha $/atom:BPY[114]/C6 $/atom:BPY[114]/C10 $/atom:BPY[114]/C8 $/atom:BPY[114]/H6
$/improper:bytype461 @/improper:GAFF/X-X-ca-ha $/atom:BPY[115]/C1 $/atom:BPY[115]/C4 $/atom:BPY[115]/C2 $/atom:BPY[115]/H1
$/improper:bytype462 @/improper:GAFF/X-X-ca-ha $/atom:BPY[115]/C1 $/atom:BPY[115]/C5 $/atom:BPY[115]/C3 $/atom:BPY[115]/H2
$/improper:bytype463 @/improper:GAFF/X-X-ca-ha $/atom:BPY[115]/C6 $/atom:BPY[115]/C9 $/atom:BPY[115]/C7 $/atom:BPY[115]/H5
$/improper:bytype464 @/improper:GAFF/X-X-ca-ha $/atom:BPY[115]/C6 $/atom:BPY[115]/C10 $/atom:BPY[115]/C8 $/atom:BPY[115]/H6
$/improper:bytype465 @/improper:GAFF/X-X-ca-ha $/atom:BPY[116]/C1 $/atom:BPY[116]/C4 $/atom:BPY[116]/C2 $/atom:BPY[116]/H1
$/improper:bytype466 @/improper:GAFF/X-X-ca-ha $/atom:BPY[116]/C1 $/atom:BPY[116]/C5 $/atom:BPY[116]/C3 $/atom:BPY[116]/H2
$/improper:bytype467 @/improper:GAFF/X-X-ca-ha $/atom:BPY[116]/C6 $/atom:BPY[116]/C9 $/atom:BPY[116]/C7 $/atom:BPY[116]/H5
$/improper:bytype468 @/improper:GAFF/X-X-ca-ha $/atom:BPY[116]/C6 $/atom:BPY[116]/C10 $/atom:BPY[116]/C8 $/atom:BPY[116]/H6
$/improper:bytype469 @/improper:GAFF/X-X-ca-ha $/atom:BPY[117]/C1 $/atom:BPY[117]/C4 $/atom:BPY[117]/C2 $/atom:BPY[117]/H1
$/improper:bytype470 @/improper:GAFF/X-X-ca-ha $/atom:BPY[117]/C1 $/atom:BPY[117]/C5 $/atom:BPY[117]/C3 $/atom:BPY[117]/H2
$/improper:bytype471 @/improper:GAFF/X-X-ca-ha $/atom:BPY[117]/C6 $/atom:BPY[117]/C9 $/atom:BPY[117]/C7 $/atom:BPY[117]/H5
$/improper:bytype472 @/improper:GAFF/X-X-ca-ha $/atom:BPY[117]/C6 $/atom:BPY[117]/C10 $/atom:BPY[117]/C8 $/atom:BPY[117]/H6
$/improper:bytype473 @/improper:GAFF/X-X-ca-ha $/atom:BPY[118]/C1 $/atom:BPY[118]/C4 $/atom:BPY[118]/C2 $/atom:BPY[118]/H1
$/improper:bytype474 @/improper:GAFF/X-X-ca-ha $/atom:BPY[118]/C1 $/atom:BPY[118]/C5 $/atom:BPY[118]/C3 $/atom:BPY[118]/H2
$/improper:bytype475 @/improper:GAFF/X-X-ca-ha $/atom:BPY[118]/C6 $/atom:BPY[118]/C9 $/atom:BPY[118]/C7 $/atom:BPY[118]/H5
$/improper:bytype476 @/improper:GAFF/X-X-ca-ha $/atom:BPY[118]/C6 $/atom:BPY[118]/C10 $/atom:BPY[118]/C8 $/atom:BPY[118]/H6
$/improper:bytype477 @/improper:GAFF/X-X-ca-ha $/atom:BPY[119]/C1 $/atom:BPY[119]/C4 $/atom:BPY[119]/C2 $/atom:BPY[119]/H1
$/improper:bytype478 @/improper:GAFF/X-X-ca-ha $/atom:BPY[119]/C1 $/atom:BPY[119]/C5 $/atom:BPY[119]/C3 $/atom:BPY[119]/H2
$/improper:bytype479 @/improper:GAFF/X-X-ca-ha $/atom:BPY[119]/C6 $/atom:BPY[119]/C9 $/atom:BPY[119]/C7 $/atom:BPY[119]/H5
$/improper:bytype480 @/improper:GAFF/X-X-ca-ha $/atom:BPY[119]/C6 $/atom:BPY[119]/C10 $/atom:BPY[119]/C8 $/atom:BPY[119]/H6
$/improper:bytype481 @/improper:GAFF/X-X-ca-ha $/atom:BPY[120]/C1 $/atom:BPY[120]/C4 $/atom:BPY[120]/C2 $/atom:BPY[120]/H1
$/improper:bytype482 @/improper:GAFF/X-X-ca-ha $/atom:BPY[120]/C1 $/atom:BPY[120]/C5 $/atom:BPY[120]/C3 $/atom:BPY[120]/H2
$/improper:bytype483 @/improper:GAFF/X-X-ca-ha $/atom:BPY[120]/C6 $/atom:BPY[120]/C9 $/atom:BPY[120]/C7 $/atom:BPY[120]/H5
$/improper:bytype484 @/improper:GAFF/X-X-ca-ha $/atom:BPY[120]/C6 $/atom:BPY[120]/C10 $/atom:BPY[120]/C8 $/atom:BPY[120]/H6
$/improper:bytype485 @/improper:GAFF/X-X-ca-ha $/atom:BPY[121]/C1 $/atom:BPY[121]/C4 $/atom:BPY[121]/C2 $/atom:BPY[121]/H1
$/improper:bytype486 @/improper:GAFF/X-X-ca-ha $/atom:BPY[121]/C1 $/atom:BPY[121]/C5 $/atom:BPY[121]/C3 $/atom:BPY[121]/H2
$/improper:bytype487 @/improper:GAFF/X-X-ca-ha $/atom:BPY[121]/C6 $/atom:BPY[121]/C9 $/atom:BPY[121]/C7 $/atom:BPY[121]/H5
$/improper:bytype488 @/improper:GAFF/X-X-ca-ha $/atom:BPY[121]/C6 $/atom:BPY[121]/C10 $/atom:BPY[121]/C8 $/atom:BPY[121]/H6
$/improper:bytype489 @/improper:GAFF/X-X-ca-ha $/atom:BPY[122]/C1 $/atom:BPY[122]/C4 $/atom:BPY[122]/C2 $/atom:BPY[122]/H1
$/improper:bytype490 @/improper:GAFF/X-X-ca-ha $/atom:BPY[122]/C1 $/atom:BPY[122]/C5 $/atom:BPY[122]/C3 $/atom:BPY[122]/H2
$/improper:bytype491 @/improper:GAFF/X-X-ca-ha $/atom:BPY[122]/C6 $/atom:BPY[122]/C9 $/atom:BPY[122]/C7 $/atom:BPY[122]/H5
$/improper:bytype492 @/improper:GAFF/X-X-ca-ha $/atom:BPY[122]/C6 $/atom:BPY[122]/C10 $/atom:BPY[122]/C8 $/atom:BPY[122]/H6
$/improper:bytype493 @/improper:GAFF/X-X-ca-ha $/atom:BPY[123]/C1 $/atom:BPY[123]/C4 $/atom:BPY[123]/C2 $/atom:BPY[123]/H1
$/improper:bytype494 @/improper:GAFF/X-X-ca-ha $/atom:BPY[123]/C1 $/atom:BPY[123]/C5 $/atom:BPY[123]/C3 $/atom:BPY[123]/H2
$/improper:bytype495 @/improper:GAFF/X-X-ca-ha $/atom:BPY[123]/C6 $/atom:BPY[123]/C9 $/atom:BPY[123]/C7 $/atom:BPY[123]/H5
$/improper:bytype496 @/improper:GAFF/X-X-ca-ha $/atom:BPY[123]/C6 $/atom:BPY[123]/C10 $/atom:BPY[123]/C8 $/atom:BPY[123]/H6
$/improper:bytype497 @/improper:GAFF/X-X-ca-ha $/atom:BPY[124]/C1 $/atom:BPY[124]/C4 $/atom:BPY[124]/C2 $/atom:BPY[124]/H1
$/improper:bytype498 @/improper:GAFF/X-X-ca-ha $/atom:BPY[124]/C1 $/atom:BPY[124]/C5 $/atom:BPY[124]/C3 $/atom:BPY[124]/H2
$/improper:bytype499 @/improper:GAFF/X-X-ca-ha $/atom:BPY[124]/C6 $/atom:BPY[124]/C9 $/atom:BPY[124]/C7 $/atom:BPY[124]/H5
$/improper:bytype500 @/improper:GAFF/X-X-ca-ha $/atom:BPY[124]/C6 $/atom:BPY[124]/C10 $/atom:BPY[124]/C8 $/atom:BPY[124]/H6
$/improper:bytype501 @/improper:GAFF/X-X-ca-ha $/atom:BPY[125]/C1 $/atom:BPY[125]/C4 $/atom:BPY[125]/C2 $/atom:BPY[125]/H1
$/improper:bytype502 @/improper:GAFF/X-X-ca-ha $/atom:BPY[125]/C1 $/atom:BPY[125]/C5 $/atom:BPY[125]/C3 $/atom:BPY[125]/H2
$/improper:bytype503 @/improper:GAFF/X-X-ca-ha $/atom:BPY[125]/C6 $/atom:BPY[125]/C9 $/atom:BPY[125]/C7 $/atom:BPY[125]/H5
$/improper:bytype504 @/improper:GAFF/X-X-ca-ha $/atom:BPY[125]/C6 $/atom:BPY[125]/C10 $/atom:BPY[125]/C8 $/atom:BPY[125]/H6
$/improper:bytype505 @/improper:GAFF/X-X-ca-ha $/atom:BPY[126]/C1 $/atom:BPY[126]/C4 $/atom:BPY[126]/C2 $/atom:BPY[126]/H1
$/improper:bytype506 @/improper:GAFF/X-X-ca-ha $/atom:BPY[126]/C1 $/atom:BPY[126]/C5 $/atom:BPY[126]/C3 $/atom:BPY[126]/H2
$/improper:bytype507 @/improper:GAFF/X-X-ca-ha $/atom:BPY[126]/C6 $/atom:BPY[126]/C9 $/atom:BPY[126]/C7 $/atom:BPY[126]/H5
$/improper:bytype508 @/improper:GAFF/X-X-ca-ha $/atom:BPY[126]/C6 $/atom:BPY[126]/C10 $/atom:BPY[126]/C8 $/atom:BPY[126]/H6
$/improper:bytype509 @/improper:GAFF/X-X-ca-ha $/atom:BPY[127]/C1 $/atom:BPY[127]/C4 $/atom:BPY[127]/C2 $/atom:BPY[127]/H1
$/improper:bytype510 @/improper:GAFF/X-X-ca-ha $/atom:BPY[127]/C1 $/atom:BPY[127]/C5 $/atom:BPY[127]/C3 $/atom:BPY[127]/H2
$/improper:bytype511 @/improper:GAFF/X-X-ca-ha $/atom:BPY[127]/C6 $/atom:BPY[127]/C9 $/atom:BPY[127]/C7 $/atom:BPY[127]/H5
$/improper:bytype512 @/improper:GAFF/X-X-ca-ha $/atom:BPY[127]/C6 $/atom:BPY[127]/C10 $/atom:BPY[127]/C8 $/atom:BPY[127]/H6
